[2012-08-27 08:20] scompt opened #1 "Maven artifacts for releases"
Are releases being uploaded to a Maven repository anywhere?

According to [mvnrepository.com](http://mvnrepository.com/artifact/net.hockeyapp.android/HockeySDK), the most recent version is 2.0.2, but the repo is already on 2.2.0-SNAPSHOT.

[2012-08-30 08:56] #1 closed, assigned to nobody

[2012-10-29 18:14] sjudd opened #4 "CrashHandler Memory leak"
The offending lines are 380-382 in src/main/java/net/hockeyapp/android/CrashManager.java.

The memory leak occurs if you follow the instructions listed here to customize how crash reports are handled: http://support.hockeyapp.net/kb/client-integration-android/customization-options-for-android

The API and instructions given seem to imply that every time you call CrashManager.register, any referenc

[2012-10-29 18:21] sjudd opened #5 "UpdateManager memory leak"
This is more of a documentation issue than a code issue. Again following the instructions as written can cause a memory leak: http://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android

If you do not call UpdateManager.register in onCreate of every activity in you application, if you switch from one activity which does call UpdateManager.register to one that doesn't, you will

[2012-12-02 21:51] jberkel opened #6 "Use published annotations.jar"
The [hockey pom](http://search.maven.org/remotecontent?filepath=net/hockeyapp/android/HockeySDK/2.2.1/HockeySDK-2.2.1.pom) has a system path to annotations. It should use the published [annotations jar](http://search.maven.org/remotecontent?filepath=com/google/android/annotations/4.1.1.4/annotations-4.1.1.4.pom) instead to avoid conflicts.

[2012-12-07 16:17] jobi opened #7 "Update dialog commented out in 2.2.0 release"
Hi,

we recently upgrading to the 2.2.0 release, and the update dialog stopped working. The code seems to be commented out:

  @Override
  protected void onPostExecute(JSONArray updateInfo) {
//    if (updateInfo != null) {
//      if (listener != null) {
//        listener.onUpdateAvailable();
//      }
//
//      showDialog(updateInfo);
//    }
//    else {
//      if (listener != null) {
//

[2012-12-07 16:42] #7 closed, assigned to nobody

[2013-01-02 16:41] jonschmidt opened #8 "Update Manager crash"
Does not happen consistently. Seems to crash on initial update check. subsequent check passes fine

01-02 11:27:14.209: ERROR/AndroidRuntime(2828): FATAL EXCEPTION: main
java.lang.NullPointerException
at net.hockeyapp.android.UpdateManager.runsOnTablet(UpdateManager.java:189)
at net.hockeyapp.android.internal.CheckUpdateTask$2.onClick(CheckUpdateTask.java:270)
at com.android.internal.app.AlertCont

[2013-01-10 12:06] #6 closed, assigned to nobody

[2013-01-10 12:53] #5 closed, assigned to nobody

[2013-02-13 22:52] gregschlom opened #11 "CrashManager.register() requires an Activity Context, not just any Context"
Trying to call CrashManager.register() with an Application context will lead to the following crash everytime we try to launch the application with crash files to send:

02-13 14:01:11.976: ERROR/AndroidRuntime(7835): FATAL EXCEPTION: main
        java.lang.RuntimeException: Unable to resume activity {com.foo.app/com.foo.app.MyActivity}: android.view.WindowManager$BadTokenException: Unable to add

[2013-02-13 22:57] #11 closed, assigned to nobody

[2013-02-21 12:14] orrc opened #12 "Don't take only versionCode into account when checking for updates"
I uploaded and published a new version of my app to HockeyApp (using the Jenkins plugin), but the app didn't recognise that a new version was available.

Here, the update check requires that the package's `versionCode` is always increasing:
https://github.com/bitstadium/HockeySDK-Android/blob/6b8453f/src/main/java/net/hockeyapp/android/tasks/CheckUpdateTask.java#L206

But it's annoying to have to

[2013-03-13 18:07] paulpv opened #13 "NullPointerException in net.hockeyapp.android.tasks.CheckUpdateTask.startUpdateIntent call to android.content.Intent.setClass"
I got the below HockeyApp crash report from a user.
I don't know specifically what they were doing.

Android: 3.1
Manufacturer: samsung
Model: GT-P7510
Date: Mon Mar 11 15:55:44 PDT 2013

java.lang.NullPointerException
    at android.content.ComponentName.<init>(ComponentName.java:75)
    at android.content.Intent.setClass(Intent.java:5293)
    at net.hockeyapp.android.tasks.CheckUpdateTask.startU

[2013-03-13 18:07] paulpv opened #14 "NullPointerException in CheckUpdateTask.startUpdateIntent call to android.content.Intent.setClass"
I got the below HockeyApp crash report from a user.
I don't know specifically what they were doing.

Android: 3.1
Manufacturer: samsung
Model: GT-P7510
Date: Mon Mar 11 15:55:44 PDT 2013

java.lang.NullPointerException
    at android.content.ComponentName.<init>(ComponentName.java:75)
    at android.content.Intent.setClass(Intent.java:5293)
    at net.hockeyapp.android.tasks.CheckUpdateTask.startU

[2013-03-13 18:08] #13 closed, assigned to nobody

[2013-03-14 11:49] chrisjenx opened #15 "onCrashesFound - Suggestions, Poor D-UX."
Method: onCrashesFound
Called when the crash manager found one or more crashes. Return true if you want to auto-send crashes (i.e. not ask the user).

Example:

[code]

OK I have a few issues with this.
1. This is a really badly named method call? `onCrahesFound()` what...? Really should be `onCrashesFoundAutoUpload()` two words make this method from - what the heck does this do - to "ahh ok retur

[2013-06-28 08:39] #14 closed, assigned to nobody

[2013-06-28 08:40] #15 closed, assigned to nobody

[2013-06-28 08:40] #8 closed, assigned to nobody

[2013-06-28 08:41] #4 closed, assigned to nobody

[2013-11-12 13:01] bitbox92 opened #23 "NullPointerException when no update available"
After registering on UpdateManager, if no update is available a NPE is thrown:

[code]

This is due to the CheckUpdateTask split:

[code]

was moved to the subclass where it no longer checks that updateInfo isn't null

[2014-01-10 23:29] mandrachek opened #24 "Tracking Documentation"
The Tracking class, outside of javadocs doesn't appear to be documented. Comments on the forums seems to indicate that this is not yet supported. Clarification would be appreciated.

[2014-01-15 13:44] #24 closed, assigned to nobody

[2014-03-18 15:56] jobi opened #27 "Build a .aar"
Android is moving to gradle as the build system. In the process they introduced a new format for library packages, .aar. Typically gradle pulls these from maven-central.

HockeySDK-Android should have an .aar on maven-central to easily integrate with gradle-based projects (such as ours ;-)

[2014-05-02 13:07] ashtom opened #33 "Execute AsyncTasks on AsyncTask.THREAD_POOL_EXECUTOR"
Change all AsyncTasks to use something like this:

[code]

[2014-05-21 07:43] FabianFrank opened #38 "Obtaining and storing the referent of a WeakReference in CheckUpdateTask causes memory leak"
https://github.com/bitstadium/HockeySDK-Android/blob/3.0.1/src/main/java/net/hockeyapp/android/tasks/CheckUpdateTask.java#L95

[code]
turns the weak reference back into a strong reference, since activity is a member variable of the long lived CheckUpdateTask. This memory leak is detected by Android's strict mode and can also be verified by collecting a heap dump and inspecting it using jhat.

Here

[2014-05-22 10:04] #33 closed, assigned to paddyesch

[2014-07-01 02:04] FabianFrank opened #39 "Resource leak identified by StrictMode"
04-16 17:26:18.443 16425-16434/com.relateiq.android E/StrictMode﹕ A resource was acquired at attached stack trace but never released. See java.io.Closeable for information on avoiding resource leaks.
java.lang.Throwable: Explicit termination method 'close' not called at dalvik.system.CloseGuard.open(CloseGuard.java:184) at com.android.org.conscrypt.OpenSSLSocketImpl.startHandshake(OpenSSLSocketImp

[2014-09-26 08:56] jleidgens opened #45 "The feedback form could have a nicer validation"
If I don't add all required information to the feedback form I don't get a detailed message what I did wrong.

It would be nicer to see an error message on each respective edit text with setError.
I could add this but I can't quite find out where you store your strings.

If I get around to it I will prepare a branch that only misses the strings.

![2014-09-26 08 32 17](https://cloud.githubusercont

[2014-10-03 19:45] pavel-dolgov opened #47 "android.view.WindowLeaked:"
Annoying exception on orientation change with open "Update Available" dialog. I don't see that code on develop branch. Does it mean that issue is fixed on develop, but not pushed to master yet? If yes, when are you going to release new version?

10397-10397/com.testapp.android.debug E/WindowManager﹕ android.view.WindowLeaked: Activity com.testapp.android.MainActivity has leaked window com.android.

[2014-10-04 13:23] #23 closed, assigned to nobody

[2014-10-04 13:23] #12 closed, assigned to ashtom

[2014-11-11 17:24] #45 closed, assigned to nobody

[2014-11-11 17:28] ashtom opened #51 "Sanitize App ID"
1. Strip all whitespace, newlines, etc.
2. Check if length equals 32
3. Check if string matches /[0-9a-f]+/i

[2014-11-12 15:43] #51 closed, assigned to matthiaswenz

[2014-11-13 13:46] matthiaswenz opened #52 "Reinforce awareness of balancing calls to register and unregister SDK managers"
Add to the docs the need to call the appropriate `unregister()`-methods on SDK managers (like UpdateManager, CrashManager, ...) and also balance those calls.
Failure to do so might lead to issues like #47.

[2014-11-13 14:32] #52 closed, assigned to matthiaswenz

[2014-11-13 14:59] #47 closed, assigned to matthiaswenz

[2014-11-14 09:40] matthiaswenz opened #53 "App crashes when using feedback attachments"
The target app crashes when the user wants to add an attachment to the feedback, when this activity has not been declared in the app's manifest: `<activity android:name="net.hockeyapp.android.PaintActivity"/>`

Best solution would be two-fold:
- [x] Update the docs to mention the necessity of this activity
- [x] Catch the exception around here so this doesn't crash the app here: https://github.com

[2014-11-14 10:56] matthiaswenz opened #54 "App built using Android Studio crashes when trying to send feedback"
### Steps to reproduce:
1. Create a new app in Android Studio (0.8.14 beta)
2. Integrate SDK using jar from latest release (3.0.2) or newer in the libs folder
3. Setup SDK FeedbackManager with `register(...)`
4. Show the feedback activity with `FeedbackManager.showFeedbackActivity(...)`
5. Run the app and try to send some feedback
### Results:

The app crashes with the following stack trace (examp

[2014-11-14 12:41] #54 closed, assigned to nobody

[2014-11-18 11:05] falkorichter opened #56 "In-App failing on Nexus-5 with the Lolipop System image"
We´re experiencing this:

We have 2 Lolipop NExus5 with Android 5.0 (LRX21O from the Nexus System images)
We´re using the SDK with gradle:

[code]

And then updating our app from within the app, this dialog is poppling up:
![hockey-nexus5-lolipo](https://cloud.githubusercontent.com/assets/50506/5086291/f740353c-6f1a-11e4-904e-22773d2ba9a2.png)

Here is the Manifest of the App:

[code]

It works on

[2014-11-19 09:31] matthiaswenz opened #57 "Add URL parameter to LoginManager"

[2014-11-24 10:43] ashtom opened #58 "NPE in FeedbackActivity on Android 5"
I just experienced a crash using a Nexus 5 running Android L running HockeySDK 3.5.0-b.4 .

What I did: I tried to send feedback in my app and attached an image to the feedback, drawing on it. Once I clicked save on the FeedbackActivity, the app crashes with the stack trace attached. Inspecting it a bit, I found out, that the default Android L File Browser does not send absolute paths, and therefo

[2014-12-03 13:55] awBSH opened #59 "Hide certain field of the Feedback-View"
Currently is is not possible to hide certain fields (e.g. name) of the Feedback-View.

In HockeySDK-iOS this can be achieved with
`[[BITHockeyManager sharedHockeyManager].feedbackManager setRequireUserName:BITFeedbackUserDataElementDontShow];`

It would be great to have a similar API for HockeySDK-Android like:
`FeedbackManager.setRequireUserName(false);` or
`FeedbackManager.setHideUserName(true);

[2014-12-03 17:33] #56 closed, assigned to nobody

[2014-12-03 18:29] #53 closed, assigned to matthiaswenz

[2014-12-03 18:57] #57 closed, assigned to matthiaswenz

[2014-12-05 15:51] swellner opened #60 "UpdateActivity AppTheme crash"
In my App there is the latest HockeyApp SDK 3.0.2 implemented. My App is build with the Android 5.0 SDK and AppCompat Library from Google. I have set a apptheme (Theme.AppCompat.Light.DarkActionBar) in the styles.xml, to remove the shadow under ActionBar.

    <item name="android:windowContentOverlay">@null</item>

With this style i get a crash without crash report or else if the UpdateActivity is

[2014-12-10 16:43] tomquist opened #62 "Support for Localization"
We'd like to add the feedback feature into an app where the target users base is not english. The sdk neither contains translated resources nor provides a way for integrators to translate strings.

[2014-12-23 16:36] #62 closed, assigned to nobody

[2015-01-20 08:11] duffinator commented on #60
Hi, no i think that happens only with devices with Android 4.2.1. We have only a Motorola Razr i with that Android version. It is not really a crash. It kills the application without a crash report dialog.

[2015-01-23 13:49] markiyan-antonyuk opened #64 "[Bug] Cannot properly localize FeedbackActivity"
Strings in dialogs are hardcoded and cannot be localized through flow which is used to localize views and without change source code of the library.

[2015-01-23 13:50] ashtom commented on #64
Do you use HockeySDK 3.5? If yes, which string is hardcoded?

[2015-01-23 13:56] markiyan-antonyuk commented on #64
This is method in FeedbackActivity onDialogCreated, 413 line

[2015-01-29 16:58] thaussma opened #65 "Disable CrashManager"
We need to disable/enable the CrashManager while the App is running. I could not find how to do this.

[2015-01-29 17:03] ashtom commented on #65
This is not directly possible, but you can call `Thread.setDefaultUncaughtExceptionHandler(null)` to unset the exception handler.

[2015-01-29 17:09] thaussma commented on #65
Hmm ok. Are there any plans to implement such a feature? Would you accept pull requests?

[2015-01-29 17:14] ashtom commented on #65
Sure, we are always happy about pull requests. To implement this correctly, you probably want to restore the previous handler, which is stored in our ExceptionHandler as defaultHandler.

[2015-02-02 13:30] tomquist opened #66 "Update Xamarin Binding to 3.5.0"
Since you didn't open-source the Xamarin-Binding for HockeySDK-Android I have to create an issue here. The Xamarin [HockeyApp-Android Component](https://components.xamarin.com/view/hockeyappandroid) is still at 3.0.2. Please update it to 3.5.0.

[2015-02-02 13:32] ashtom commented on #66
The Xamarin bindings are not from us, but from Xamarin (the company) itself. We can't update those and have no access to the source. Please contact Xamarin.

[2015-02-02 13:32] #66 closed

[2015-02-02 13:34] tomquist commented on #66
Oh, I'm sorry, I didn't know that. However, it would be a good idea to provide your own binding so it can be updated faster in future.

[2015-03-13 15:33] perryao opened #67 "Add up button to Feedback Activity"
Is there a way to add an Up button to the FeedbackActivity?

[2015-03-20 10:25] #59 closed

[2015-05-19 12:39] markiyan-antonyuk commented on #64
Found some more hardcoded strings which could not be localized in FeedbackActivity 491 and 498 line ("Select File" and "Select Picture").
Also there is hardcoded string which overwrites string from Strings.java in 659 line in FeedbackActivity.

[2015-06-22 09:06] RomainPiel opened #74 "Handle OutOfMemoryError exceptions"
Pierre-Yves Ricau recently published a way to catch and handle OutOfMemoryError exceptions https://gist.github.com/pyricau/4726389fd64f3b7c6f32
I know these are tricky but could we consider adding a similar mechanism to catch and report OutOfMemoryError related crashes to HockeyApp?

[2015-06-22 09:46] ranterle commented on #74
Hi Romain,
thanks for the suggestion. That sounds interesting from an SDK-user perspective. For the complete picture we will also have to upload the heap dump to HockeyApp in the process.
I'll look into this regarding both limitations in the backend as well as user experience, since heap dumps can be of substantial size, especially in the context of an OutOfMemoryError.

Best, Mat

[2015-06-22 10:00] ranterle commented on #58
5.0 has been out for a while - guess we can close this.

[2015-06-22 10:00] #38 closed

[2015-08-14 22:45] DenninDalke opened #76 "Missing entry for "hockeyapp_crash_dialog_neutral_button" localization key"
Hi guys! Am I missed something, or the key "hockeyapp_crash_dialog_neutral_button" is missing in [LocaleManager.java](https://github.com/bitstadium/HockeySDK-Android/blob/3.5.0/src/main/java/net/hockeyapp/android/LocaleManager.java)?

I had to assign the key manually loading from resources then using Strings.set:

[code]

[2015-08-14 22:47] ashtom commented on #76
This was fixed with this commit the develop branch:
https://github.com/bitstadium/HockeySDK-Android/commit/348d481b32bc97a40df3d05443967bddd3055993

[2015-08-14 22:48] #65 closed

[2015-08-14 22:49] #27 closed

[2015-08-15 20:23] ranterle opened #77 "Support Runtime permissions"
Android M brings a new [runtime permissions model](http://developer.android.com/preview/features/runtime-permissions.html) which should also be supported prior to release of M.

[2015-08-17 08:28] ranterle commented on #77
As listed in the [permissions best practices](http://developer.android.com/preview/features/runtime-permissions.html#best-practices) the permission `INTERNET` can be offered as a "normal permission", meaning if the developer adds it to the manifest, it will be automatically granted unless otherwise revoked by the user. (So runtime checks for said permission should still be in place)
That however i

[2015-08-17 08:43] ranterle commented on #74
Closing this as there is no possible and user-friendly way of collecting and transmitting crash dump data for OOM exceptions. Transmitting those dumps would induce huge amounts of data use for your app's customers.

[2015-08-17 08:43] #74 closed

[2015-08-20 10:06] the4thfloor opened #79 "FeedbackManager: can't find referenced method setLatestEventInfo"
With Android M / 6 the method `public void setLatestEventInfo(Context context, CharSequence contentTitle, CharSequence contentText, PendingIntent contentIntent)` in `android.app.Notification` is gone.

This means that the HockeySDK can't be used with Android M / 6

[code]

[2015-08-20 10:23] the4thfloor opened #80 "can't find referenced class org.apache.http.*"
With Android M / 6 the Apache HTTP stuff is gone but the SDK uses it a lot.

It can be fixed with
[code]
but I prefer a cleaner way without dependencies to a deprecated lib :-)

[code]

[2015-08-20 11:14] ranterle commented on #80
Thanks for pointing this out. We're already working on this and other changes necessary for Android 6.0 - see #77.

[2015-08-20 11:16] ranterle commented on #79
Thanks, we're working on this. Of course, you're always welcome to file a PR ;-)

[2015-08-21 22:12] hzsweers commented on #77
Another thing to keep in mind with `WRITE_EXTERNAL_STORAGE` is that it was added in API 16, so I'm not even sure what you would do before that. Assume it's always available in <16 and otherwise call `ActivityCompat.checkSelfPermission(...)` in a method annotated with TargetApi(16).

FWIW I think the library should delegate permission handling to the app using it, and only do checks internally to s

[2015-08-21 22:13] hzsweers commented on #80
This should be a high priority issue, because including the legacy library is no small thing when APK size is considered (2MB *after* proguard :fearful:)

[2015-08-21 22:14] hzsweers commented on #80
One more to add to @the4thfloor's list:

`Warning: net.hockeyapp.android.utils.SimpleMultipartEntity: can't find superclass or interface org.apache.http.HttpEntity`

[2015-08-22 22:41] ranterle commented on #80
Thanks @hzsweers as well. Let me clarify: We are not aiming at targeting the legacy library but replacing the mentioned code with either `HttpUrlConnection`/Volley/..., whatever seems feasible for the task.

[2015-08-22 22:48] hzsweers commented on #80
I figured, just explaining why the legacy library wasn't the best option either :)

Volley will give you the same problems for the time being unfortunately since it also uses apache stuff under the hood. HttpUrlConnection seems like the minimal impact route, but if you're open to using a library, I'd recommend using OkHttp. It's what powers UrlConnection on Lollipop+, and is pretty widely used. Ad

[2015-08-22 22:55] ranterle commented on #77
According to the docs `WRITE_EXTERNAL_STORAGE` was [added in API 4](http://developer.android.com/reference/android/Manifest.permission.html#WRITE_EXTERNAL_STORAGE).

It's not only a technical issue – we're looking for one that works in terms of user flow in-app but also SDK integration. And while more control over the permission granting process for the client app sounds good, that would also mean

[2015-08-22 22:58] hzsweers commented on #77
Right, sorry I should be specified. Referencing it in
Manifest.permission.WRITE_EXTERNAL_STORAGE was oddly only added in 16, at
least when I tested it out recently.

Simple is definitely best, but when you consider requesting a permission
comes in the form of showing a UI, I think that should be completely
controlled by the app developers. Would be interesting to see what iOS
libraries do since th

[2015-08-22 23:10] ranterle commented on #77
Both on iOS and on Android 6.0 (at least according to the article on runtime permissions) the system will take care of showing the dialog when you request permission(s).
* On iOS you provide a (mostly static/localized) string of why your app needs said permission, see [NSLocationWhenInUseUsageDescription](https://developer.apple.com/library/ios/documentation/General/Reference/InfoPlistKeyReference

[2015-08-22 23:10] ranterle commented on #80
Thanks for the suggestion of OkHttp - but it requires Android 2.3 minimum and I'm not quite sure we're ready for that. API looks good, though.

[2015-08-22 23:17] hzsweers commented on #77
Right, I just am saying that the actual request to show the dialog at all
should be controlled by the app, not the library. This way the developer
can control exactly when it's shown and ensure its contextually relevant to
whatever the user is doing at that point.

On Sat, Aug 22, 2015, 4:10 PM Mat <notifications@github.com> wrote:

[2015-08-22 23:20] hzsweers commented on #80
Why not? Using 2.3 as a minimum covers 99.7% of all devices. If that's not
enough to bump your minSdk, what is...?

For reference:
https://developer.android.com/about/dashboards/index.html#Platform

On Sat, Aug 22, 2015, 4:10 PM Mat <notifications@github.com> wrote:

[2015-08-23 09:12] the4thfloor commented on #80
But if it depends on OkHttp all projects depend on it too :-(

[2015-08-23 09:22] hzsweers commented on #80
That's true, but it might be worth the tradeoff. I only suggested it since @ranterle seemed open to using another library by mentioning Volley. OkHttp has a fairly minimal footprint. Its classes.dex is only 300kB, and that would only get smaller with proguard.

[2015-08-23 12:52] ranterle commented on #80
We're not only looking for Android versions on Google Play in that regard, that's why I'm not sure to say we can go 2.3 minimum.

[2015-08-23 19:03] hzsweers commented on #80
Where else are you looking? Google Play should be a fairly optimistic
measurement for pre-2.3 devices. If anything, most developers see even
lower usage of pre-4.0 devices.

On Sun, Aug 23, 2015, 5:52 AM Mat <notifications@github.com> wrote:

[2015-08-24 08:03] anlinde commented on #80
We will not add dependencies which all projects using our SDK will also have to adopt. If you are doing something like that in an internal library, this might be ok to do, but not in an SDK that is used in thousands of applications.

We will fix the warnings as soon as possible.

[2015-08-27 11:27] ranterle commented on #77
Update or I didn't read carefully enough before: Normal permissions are granted at install time and you don't have to check for them at runtime anymore. See [here](https://developer.android.com/preview/features/runtime-permissions.html#normal)
So we can just leave `INTERNET` in the manifest and everything should be good.
Will focus on `WRITE_EXTERNAL_STORAGE` then.
Also referring to earlier commen

[2015-09-02 19:44] ndahlquist opened #84 "Use continuous integration"
Currently "Develop" (1799ad1e846b8e810ca12599c4279987dcb086f3) does not compile out of the box. This makes it harder for people to contribute to the project.

[code]

[2015-09-03 14:56] ranterle commented on #84
The reason why this doesn't compile is we don't use Gradle at the moment. We currently build the jar with Maven.
I'm working on moving the build system to Gradle/Android Studio and am almost finished with that. Then we'll consider CI - very important to us as well. Since our iOS SDK is already using Travis I guess we'll also move there.

[2015-09-06 03:19] hzsweers commented on #80
Then don't. I chimed in about OkHttp because @ranterle suggested Volley as an option, so it was fair to assume at the time that 3rd party options were ok. When he said 2.3 wasn't a viable minimum, and that you don't use Google's OS version statistics, I was curious to find out why. Your comment felt both dismissive and condescending.

You preach good SDK maintanance, but this SDK has limped along

[2015-09-06 03:48] ashtom commented on #80
Thanks for the feedback, we definitely appreciate it. We released a new version of our Android SDK just yesterday, see here:
http://hockeyapp.net/blog/2015/09/04/hockeysdk-android-3-6-beta-1-release-notes.html

Both our iOS and Android SDK are currently in beta and our philosophy is that we won't release a final version before Apple and Google have announced the respective final version of their O

[2015-09-06 10:55] #76 closed

[2015-09-06 10:56] ranterle commented on #79
Please take a look on our 3.6 Beta 1 which should contain the fixes proposed: http://hockeyapp.net/blog/2015/09/04/hockeysdk-android-3-6-beta-1-release-notes.html

[2015-09-06 10:57] #77 closed

[2015-09-06 10:59] ranterle commented on #67
I'm not sure I understand your whole question or the problem.
You can however always create your own feedback activity and return it via a custom [`FeedbackManagerListener`](https://github.com/bitstadium/HockeySDK-Android/blob/develop/src/main/java/net/hockeyapp/android/FeedbackManagerListener.java#L45)

[2015-09-06 11:01] #58 closed

[2015-09-06 11:02] ranterle commented on #39
Please have a look at our recent 3.6 beta 1 which dumps Apache HttpClient for HttpURLConnection: http://hockeyapp.net/blog/2015/09/04/hockeysdk-android-3-6-beta-1-release-notes.html

[2015-09-06 11:02] #39 closed

[2015-09-08 08:09] yekretsam commented on #79
I had the same issue, 3.6 beta 1 fixed it for me, thanks.

[2015-09-08 08:12] ranterle commented on #79
Thanks for the info @yekretsam - I think we can close this now.

[2015-09-08 08:12] #79 closed

[2015-09-08 20:24] ndahlquist commented on #84
Great, sounds good!

[2015-09-10 20:29] niedzielski commented on #11
I just hit this case wanting to register for crashes in Application.onCreate(). It seems like the API should advertise that an Activity, not just Context, is needed, even if that requires breaking apart the register method, adding a second method with a new name, or overloading it. The docs are a little misleading:

[2015-09-10 20:33] ashtom commented on #11
@niedzielski You can use a context if you automatically submit crashes. Maybe we should do this automatically when the class is context, i.e. if context instanceOf Context, then auto send crashes no matter what the listener says.

[2015-09-10 20:51] ranterle commented on #11
@ashtom we need to update the docs to be more specific in that regard

[2015-09-10 21:08] niedzielski commented on #11
@ashtom I know there are plenty of ways to work around it, but the API is _surprising_ which is bad. In my specific use case, the user must be in control of whether the data is sent or not, so using the HockeyApp UI makes the most sense. The workaround in our codebase that I'm currently planning to use is to call CrashManager.initialize() in Application.onCreate() and CrashManager.register() in ou

[2015-09-10 21:17] ranterle commented on #11
@niedzielski if you follow our [integration docs](https://github.com/bitstadium/HockeySDK-Android#setup) registering the managers from your main activity is actually the recommended way to do.
Regarding your other ideas: We are actively working on an aar-build of the SDK which allows us to integrate our necessary activities right from the library without anything to do on your end as an SDK user.

[2015-09-10 21:26] niedzielski commented on #11
@ranterle, makes sense. Your integration docs describe well how to listen for crashes in Activities but, to be clear, that's not the issue here. I want to listen for crashes in the Application as well as provide users your great send report UI. Currently, without implementing a workaround along the lines I described above, there's no way to have _both_ UI and pre or no-Activity Application crash h

[2015-09-11 01:38] niedzielski commented on #64
Are there any localizations other than US English provided with the SDK?

[2015-09-11 02:24] ashtom commented on #64
@niedzielski: The SDK 3.5 and 3.6 only comes with English.

[2015-09-11 15:45] niedzielski opened #92 "always_send_crash_reports should be part of published API"
always_send_crash_reports is a preference key stored in the application's default SharedPreferences. The preference is used to determine whether crashes should be autouploaded. I propose that this should be part of the published API:
- The key is not terribly unique and, since the key is stored in the default preferences, may collide with a client key.
- It's a useful preference to expose in a dev

[2015-09-11 15:52] niedzielski opened #93 "Auto upload cannot be disabled when user picks "always send""
Returning false from CrashManagerListener.shouldAutoUploadCrashes() has no effect when the user picks "always send". Maybe this callback should instead be passed a boolean indicating the user preference but have control over whether to ignore that preference or not.

[2015-09-11 15:53] ashtom commented on #93
What's the use case for this? The user can only pick "Always Send" after he had seen the dialog for the first time. Do you want to force him to see the dialog again even though he picked "Always Send"?

[2015-09-12 09:23] ranterle commented on #92
Do I understand correctly, you want like a method on CrashManager to set the auto-send-feature value?
This is what the custom CrashManagerListener is for, with that you can override the behavior.
So we already have a public API for that.

Regarding the internal workings:
Even for a simple boolean, how we store the user selection on Auto-send is private API - it might be preference keys now, it mig

[2015-09-15 00:06] niedzielski commented on #93
@ashtom, we expose the setting in case the user wants to change their mind.

[2015-09-15 00:52] niedzielski commented on #92
@ranterle, the use case is to allow the user to change their minds about sending crash reports. For example, we really, really want users to send us their crashes, so by default we have "always send" enabled. The user never sees a prompt unless they go to their settings where they can disable it.

What's the API to achieve this behavior? AFAIK, there's no API to show or set the current state so we

[2015-09-15 01:01] niedzielski opened #94 "Add CrashManagerListener.onCrash()"
The SDK will not send a crash report until the application is relaunched. Since users may never launch the app again, this gives false crash numbers. Supplying an onCrash() callback will allow the app to restart the application which will send the report. We've a somewhat hacky implementation up here[0] for reference where HockeyAppCrashListener[0] is just a CrashManagerListener with the onCrash()

[2015-09-16 09:34] imort opened #95 "Android M removes method Notification.setLatestEventInfo"
When compiling against API 23. It should use NotificationBuilder as suggested [here](http://developer.android.com/preview/behavior-changes.html#behavior-notifications).

Warning: net.hockeyapp.android.FeedbackManager: can't find referenced method 'void setLatestEventInfo(android.content.Context,java.lang.CharSequence,java.lang.CharSequence,android.app.PendingIntent)' in library class android.app.N

[2015-09-16 09:39] ranterle commented on #95
Hi @imort,
should have been resolved by #82. That will be in our 3.6 release soon. You can already test a [beta](http://hockeyapp.net/blog/2015/09/04/hockeysdk-android-3-6-beta-1-release-notes.html) and release candidate soon.

[2015-09-21 16:53] sgundumonu opened #96 "Can't save a picture attachment"
I am testing Hockey App on Moto X running 5.1.
Upon attaching picture to user feedback form there is no option to save.
On Samsung S3 which has physical back, home and menu buttons, save option comes upon clicking physical menu button.
Without save option on no hard physical menu button phone, this feature will have very limited use.
Please fix this.

Thanks,
Sai

[2015-09-21 16:58] ashtom commented on #96
If your app has no action bar, then you need to provide your own UI to save the attachment (or show the action bar when the feedback view becomes visible).

[2015-10-05 13:07] #64 closed

[2015-10-06 12:31] #96 closed

[2015-10-06 12:32] #95 closed

[2015-10-06 12:33] ranterle commented on #80
3.6.0 was released yesterday (blog post coming up), closing this.

[2015-10-06 12:33] #80 closed

[2015-10-06 14:12] ranterle opened #98 "Move localization strings to strings.xml"
All the strings in `LocaleManager` should be moved to strings.xml instead.

[2015-10-18 16:01] ubeyou opened #99 "InstalledFromMarket always returns true"
whenever we use Xiaomi, the installedFromMarket always return true.

Because when we debug via usb, it will display installer = "adb"

when we install via browser, it will shows installer = "com.android.browser"

Based on the written code, the result will always returned true whenever it's not empty.
result = !TextUtils.isEmpty(installer);

[2015-10-19 09:17] ranterle commented on #99
Thanks for the mention, I'll be looking into this. For future reference I'll update the issue title to match the described issue.

[2015-10-19 11:46] johanols opened #100 "Activities should extend AppCompatActivity and not Activity"
...or at least offer both variants. Currently it is kinda hard to customize the various Hockey activities to follow the color scheme of the application. At the moment, you either have to modify the framework or define an alternative `style`. This should not have to be necessary. Especially cumbersome is it, when you want to use the new `Toolbar` throughout the application. Is this something you pl

[2015-10-19 11:53] ranterle commented on #100
Thanks for your report and suggestion.
We will not have any dependency on the compatibility libraries in the SDK as they are huge in size - especially compat-v4 which includes `ActivityCompat`.
Are there other ways you can think of that would ease your workflow in this scenario?

[2015-10-19 12:07] johanols commented on #100
That's understandable. Then how about providing an extension library to the HockeySDK, containing only the compat versions of the activities? This could be achieved without code duplication by utilizing the delegation pattern.

[2015-10-19 15:49] ranterle commented on #100
We'll look into options which make styling and adopting the activities more easy but also flexible soon - and definitely take this into consideration. Don't have an actual timeframe right now. For the time being you can use the methods to use your own activity or fragment through the `UpdateManagerListener` for those aspects.
Which aspects are you also looking for the most?

[2015-10-19 16:00] ranterle commented on #98
Fixed by 33f5476facfd590ce6a01510edf35549315d49c6

[2015-10-19 16:00] #98 closed

[2015-10-19 16:02] ranterle commented on #94
Thanks for the suggestion and the code sample. We are looking into possibilities of getting more direct crash reports, while still holding on to our privacy guidelines.

[2015-10-19 16:04] ranterle commented on #92
I understand your argument with state duplication. I'll be looking into this.

[2015-10-19 16:08] ranterle commented on #84
Just a quick update to this: We have a CI environment in the works and will be adding the SDK to it, soon.

[2015-10-23 08:40] x2on opened #101 "Changelog missing"
Do you have a changelog for the Android SDK as well? On the iOS SDK every release contains a summery about the changes.

[2015-10-23 08:43] ranterle commented on #101
Hi @x2on - we have our release notes here: http://hockeyapp.net/blog/ - I will also make sure the release notes make to the Github releases page in the future.

[2015-10-24 23:23] abedka commented on #84
Android Jelly Bean 4.2.2 screen - mini z the [ [ Digital subscriber line access multiplexer | DSLAM ] ]. < ref > { { cite web | url = http :

[2015-10-29 12:19] ranterle commented on #101
We added this with the latest beta release, will keep doing that: https://github.com/bitstadium/HockeySDK-Android/releases

[2015-10-29 12:19] #101 closed

[2015-10-30 14:38] ranterle commented on #99
It seems that Xiaomi might me the issue of false behavior here. On all other devices `installerPackageName` will return `null` if the app was installed trough adb.

[2015-10-30 14:58] ubeyou commented on #99
Perhaps u should create a whitelist for Xiaomi as it is pretty much owning 30% of SEA region devices.

[2015-10-31 17:18] x2on commented on #101
Thanks a lot!

[2015-11-02 14:37] #99 closed

[2015-11-04 22:17] ranterle commented on #84
We have added an integration with Travis which builds and lints the SDK module, also reflected on the repo site through the readme as with our iOS counterpart.

[2015-11-04 22:17] #84 closed

[2015-11-07 10:53] orrc opened #102 "Add thread metadata to crash metadata"
I got a crash with the usual metadata shown below.

In cases like this (and in general), it would be useful to have more information about the thread the exception was thrown on.

So if at least the thread name could be added to this metadata, that would be handy.

[code]

[2015-11-09 10:20] ranterle commented on #102
Thanks @orrc for the suggestion. I'll be tracking this as a feature request.
Also always feel free to hack away on a PR for this.

[2015-11-09 14:02] hannesa2 opened #103 "update from 3.5.0 to 3.6.2"
when I update HockeyApp

    compile 'net.hockeyapp.android:HockeySDK:3.5.0'
to

    compile 'net.hockeyapp.android:HockeySDK:3.6.2'

it runs into this error

    Warning: net.hockeyapp.android.UpdateActivity: can't find referenced method 'void requestPermissions(java.lang.String[],int)' in program class net.hockeyapp.android.UpdateActivity
    Warning: net.hockeyapp.android.UpdateFragment: can't

[2015-11-10 15:24] ranterle commented on #103
This looks like an issue with the ProGuard configuration. How did you configure ProGuard for your build?
I'll be looking into whether we need to update our ProGuard config.

[2015-11-10 15:38] hannesa2 commented on #103
I follow http://support.hockeyapp.net/kb/client-integration-android/hockeyapp-and-proguard
and add this

    -keep public class javax.net.ssl.**
    -keepclassmembers public class javax.net.ssl.** {
      *;
    }

    -keep public class org.apache.http.**
    -keepclassmembers public class org.apache.http.** {
      *;
    }

    -keepclassmembers class net.hockeyapp.android.UpdateFragment {

[2015-11-11 13:45] ranterle commented on #103
Looking at the errors it seems like you need to update your `compileSdkVersion` to 23. Does this help?

[2015-11-11 15:14] hannesa2 commented on #103
With 23 I run into several other issues, is there an other way ?

[2015-11-12 08:51] ranterle commented on #103
The 3.6 release branch is meant for compatibility with Android 6 Marshmallow and its inherent changes - runtime permissions system, dropping of httpclient. If you don't target API level 23 with your build (which it seems you don't right now) and don't need any of the new features then the best bet for you is to stay on 3.5.x for now.
I'll be looking into whether we can make 3.6 also work with olde

[2015-11-13 18:44] caltseng opened #105 "Transmission Failed"
Since upgrading to version 3.6.2, hockeyapp seems to fail transmission quite often. We are missing crash logs for much of yesterday (11/12/15). Has there been server issue, or is there something wrong with this new version of the Android SDK?

11-13 09:29:59.502 D/HockeyApp: Date: Fri Nov 13 07:42:39 PST 2015
11-13 09:30:01.826 D/HockeyApp: Transmission failed, will retry on next register() call
1

[2015-11-15 13:43] ranterle commented on #105
Hi @caltseng - we added some network connectivity checks [in 3.6.2](https://github.com/bitstadium/HockeySDK-Android/blob/df16af7e9ff3c251e30abdce238eb441f07531a0/src/main/java/net/hockeyapp/android/CrashManager.java#L538) but this seems to be a different kind of issue, since the connectivity checks have already passed at the point of your reports.
We didn't have any outages and have not had any re

[2015-11-15 13:43] ranterle commented on #93
Will reinvestigate for the next iteration when we have time.

[2015-11-15 13:44] #60 closed

[2015-11-16 21:58] caltseng commented on #105
Hmm. I ran into this today. Not sure if this is an issue with your code or with ours or just some weird network issues..

W/System.err﹕ at com.android.okhttp.okio.Timeout.throwIfReached(Timeout.java:145)
W/System.err﹕ at com.android.okhttp.okio.Okio$1.write(Okio.java:73)
W/System.err﹕ at com.android.okhttp.okio.AsyncTimeout$1.write(AsyncTimeout.java:155)
W/System.err﹕ at com.android.okhttp.okio.Re

[2015-11-16 22:00] ranterle commented on #105
This can't be our SDK code - we don't use OkHttp or any other HTTP library.

[2015-11-16 22:01] caltseng commented on #105
Hmm okay there's something wrong for us then.

We'll look into it and I'll let you know if the problem persists. Thanks.

[2015-12-09 12:54] mesutbeyaztas opened #112 "Updated from 3.5.0 to 3.7.0-beta.2"
I uploaded and published a new version of my app to HockeyApp (using the Jenkins plugin),sending crashes but the app didn't recognise that a new version was available.

Usage;
[code]
[code]
[code]
[code]

[2015-12-09 15:00] ranterle commented on #112
What is the version code of the app you're looking at and what is the version code of the latest version available on HockeyApp?

[2015-12-09 15:07] ranterle commented on #103
@hannesa2 can you try using the following ProGuard configuration and see if this resolves the issue?
[code]

[2015-12-09 15:18] mesutbeyaztas commented on #112
My app's current version is 10000100 and latest hockey app version 10000200

[2015-12-09 16:09] tkirshboim commented on #112
I have the same issue with the 'beta.2' version. With 'beta.1' it works fine. I debugged this a bit this seems to be already fixed here https://github.com/bitstadium/HockeySDK-Android/commit/2dc918f64182616f9a779536765f9046aea45144 but not yet release. Could you please release a new beta so I could see if it works? Thanks!

[2015-12-09 17:12] ranterle commented on #112
Thanks for the heads up @tkirshboim - yes this will be fixed in the next beta/release.

[2015-12-09 20:27] mesutbeyaztas commented on #112
For now i decide to use beta.1. Thanks for quick and detailed answer @tkirshboim and @ranterle.

[2015-12-09 20:27] #112 closed

[2015-12-09 23:48] rajuashok opened #113 "UpdateManager doesn't work on 3.7 beta"
I tried using the beta verrsion 3.7.0. The update dialog never shows. I had to revert to 3.6.2.

[2015-12-09 23:52] TroubleMakerBen commented on #113
Thanks @rajuashok for raising this. I will look into this.

[2015-12-10 08:00] ranterle commented on #113
Looks like this was a bug introduced in Beta 2 - fixed in 2dc918f64182616f9a779536765f9046aea45144

[2015-12-10 19:22] artsterb opened #114 "Setting instrumentationKey as third parameter in setup causes IllegalArgumentException when calling UpdateManager.register"
Looking at Util.getAppIdentifier that is called inside UpdateManager.register, it expects that instrumentation key to be set as meta-data in the manifest.  We should support either a manifest entry for it or setting it as the third parameter on setup.  If both exist, I would say the one sent as a parameter in setup should win.

Repro steps:
1) Call ApplicationInsights.setup(context, application, m

[2015-12-10 20:42] TroubleMakerBen commented on #114
We have evaluated the issue.
When not using the Android Manifest to store the app identifier, all managers have to be initalised using  register(...)-overloads that include the app identifier.
We should update the readme with this and/or find a more elegant solution than throwing an exception.

[2015-12-11 12:02] ranterle commented on #113
@rajuashok we have just released the first release candidate of 3.7.0: http://hockeyapp.net/blog/2015/12/10/hockeysdk-android-3-7-0-rc-1.html
Can you take a look and see if it works now?

[2015-12-11 12:04] ranterle commented on #114
I think there is a misunderstanding here: The HockeyApp app identifier has nothing to do with the AI instrumentation key. So registering an instrumentation key with AI will do nothing to the HockeyApp-manager classes.

[2015-12-12 02:46] TroubleMakerBen opened #115 "FeedbackActivity doesn't show Actionbar"
The Feedback UI doesn't show an action bar.

Confirmed the issue on Nexus 9 running our sample app on Marshmallow.

[2015-12-12 10:11] ranterle commented on #115
This is a known issue on all devices with Material design. We are working on a more flexible solution. For the time being, developers will have to present the ActionBar themselves.

[2015-12-14 17:21] murki commented on #115
@ranterle could you advise a way to "present the ActionBar themselves" ? I couldn't manage to make it work when using a Theme.AppCompat.Light-derived them (http://android-developers.blogspot.com/2014/10/appcompat-v21-material-design-for-pre.html) and the android.support.v7.widget.Toolbar

[2015-12-14 18:00] murki opened #116 "FeedbackActivity doesn't support consumer-provided translations"
FeedbackActivity / activity_feedback.xml is using the hint values for their EditTexts as well as any other text messages from https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/res/values/strings.xml

It would be desirable to let the library consumer to provide the strings to be shown on the fields as well as their translations.

[2015-12-15 22:03] ranterle commented on #115
@mukri I'm working on something here - unfortunately it's especially tricky supporting appcompat themes and the Toolbar as well.

[2015-12-17 12:46] tkirshboim commented on #112
works for me with the 'rc.1' release.
#113 is a duplicate of this issue

[2015-12-17 12:47] tkirshboim commented on #113
I had the same issue - it's fixed in the 'rc.1' release

[2015-12-17 13:23] ranterle commented on #113
Thanks for verifying @tkirshboim.

[2015-12-17 13:23] #113 closed

[2015-12-20 04:31] abedka commented on #84
من کمک گوگا

On ۱:۴۷ ق.ظ،‏ ۵ش ۲۰۱۵/۱۱/۵ Mat <notifications@github.com> wrote:

[2015-12-21 14:15] ranterle opened #117 "Sanitize usage tracking data before sending"
The usage tracking data is simply stored and sent directly. It should at least be sanitized to remove negative values from usage tracking as those don't make any sense.

[2016-01-05 16:21] the4thfloor opened #118 "NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.String.trim()' on a null object reference"
In ExceptionHandler#saveException(Throwable exception, Thread thread, CrashManagerListener listener) you can find the following code (lines 133 - 137):

[code]

The `writeValueToFile` method trims the value, this is okay so far.

But the default value for `listener.getUserID()`, `listener.getContact()` and `listener.getDescription()` are `null`.

You should:

1) check if `value` is `null` or not

[2016-01-05 16:31] ranterle commented on #118
Just to get the right understanding: The issue you're facing is that there's a "null"-String in the values for userID, contact, and description after they're written to the files?

[2016-01-05 16:36] the4thfloor commented on #118
Yes, the `CrashManagerListener` returns `null` for this values and if you don't overwrite this methods you get this error.

[2016-01-07 17:32] ranterle commented on #118
Ok, I'll be looking into this - thanks.

[2016-01-11 14:09] #118 closed

[2016-01-15 05:44] niedzielski opened #121 "LoginActivity resource ProGuard warnings in v3.7.0"
Upgrading from version v3.6.2 to v3.7.0 has produced two new ProGuard warnings:

    Warning: net.hockeyapp.android.LoginActivity: can't find referenced field 'int input_password' in program class net.hockeyapp.android.R$id
    Warning: net.hockeyapp.android.LoginActivity: can't find referenced field 'int button_login' in program class net.hockeyapp.android.R$id

Am I missing a step? I tried to fo

[2016-01-15 12:35] ranterle commented on #121
Thanks for mentioning. I'll be looking into this.

[2016-01-18 23:37] #117 closed

[2016-01-19 11:49] raviteja06 commented on #105
I am also getting the same kind of issue.

It is pointing to net.hockeyapp.android.tasks.CheckUpdateTask.doInBackground(CheckUpdateTask.java:137)

In my project, i am using retrofit with okhttp. Can you please cross check if that might be causing this issue.

Thanks in advance.

[2016-01-19 12:49] ranterle commented on #105
Hi @raviteja06,
which version of the SDK are you using in your app? What is the detailed stacktrace?
Please open a [support request](http://support.hockeyapp.net/) with us and address it to me directly if this information should be kept private.

Best,
Mat

[2016-01-19 14:01] raviteja06 commented on #105
Hi Mat,

SDK version: 3.7.0
Android 6.0

Stacktrace:
[code]

As i mentioned in previous comment. I am using OKHTTP and retrofit. Let me know if you need more info.

[2016-01-19 16:46] ranterle commented on #105
This doesn't look like an error caused by our AsyncTask but more like flaky or no network causing the HTTP stack to crash.
Can you reproduce the issue? If yes, do you see a pattern how and when this occurs?

[2016-01-19 18:12] raviteja06 commented on #105
Mat,

It happens every time when I start an activity. Can be reproducible every time. The devices I tested are nexus 6p and moto G3.

I recently came across similar issue and found out Google made changes to android 6.0 http stack. They removed support to apache http client.

http://stackoverflow.com/questions/32071025/apache-http-connection-with-android-6-0-marshmallow

But I see the error is thr

[2016-01-19 22:26] ranterle commented on #121
Using our [Demo project](https://github.com/bitstadium/HockeySDK-AndroidDemo) I can't reproduce the reported issue - it's working fine.
Your project does not seem to use the HockeyApp `LoginActivity` class at all so I wonder why it wouldn't just strip the information.
I noticed your commit in Gerrit dropped all [HockeyApp-related](https://gerrit.wikimedia.org/r/#/c/264255/2/app/proguard-rules.pro)

[2016-01-19 23:23] niedzielski commented on #121
@ranterle, you're right. This is all on our end. We also have a layout file named activity_login.xml which caused the symbols to be dropped. Thanks for checking and the pointer to the demo project, that was helpful.

It was intentional to drop the HA ProGuard configuration since you now distribute an Android archive instead of a jar.

[2016-01-20 03:58] raviteja06 commented on #105
@ranterle I am only seeing this on phones running android 6.0 and above.

[2016-01-20 19:15] TroubleMakerBen commented on #114
Closing this as it was just a misunderstanding.

[2016-01-20 19:15] #114 closed

[2016-01-21 20:06] ranterle commented on #105
What's the code of the activity doing - is it any activity of your app or a particular one?
We are aware of the changes to the HTTP stack in Android 6.0 and have completely rebuilt our library to not use Apache HttpClient anymore.
I'm trying to find the most specific scenario to be able to isolate the issue, so far I had no luck reproducing it. Feel free to take this to a private discussion if you

[2016-01-26 15:05] ranterle commented on #116
Following up on this: It looks like this is fixed already https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/res/layout/activity_feedback.xml#L29
If you don't think of this as fixed, can you explain the situation in a bit more detail?

[2016-01-26 15:05] #103 closed

[2016-01-26 21:06] murki commented on #116
Hi @ranterle, our situation is that we localize our app into several more languages that that the ones supported by the HockeyApp out-of-the-box translations. Ideally we could provide the string resource ids for the text used all across HockeyApp (in this example, is the feedback form).
Example jp:
![hockeyapp_jp](https://cloud.githubusercontent.com/assets/216735/12594960/806b4528-c42d-11e5-8dee-a

[2016-01-27 07:41] ranterle commented on #116
As far as I see, all strings in the UI are localizable. You can simply override the [strings](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/res/values/strings.xml) from our SDK in your app.
All of our strings are localized now, if you find one that is missing, just report it to us or file a PR.

[2016-01-27 19:32] murki commented on #116
Oh right, this seemed to have been fixed on v3.7.0 430a8c6, sorry I missed it the first time around. We'll try to upgrade.

[2016-01-27 19:39] murki opened #123 "Add overload that takes CrashManagerListener to CrashManager.register()"
With the [3.7.0 release](https://github.com/bitstadium/HockeySDK-Android/releases/tag/3.7.0), new `register()` overloads were added to `CrashManager`, `UpdateManager`, `FeedbackManager`, and `LoginManager`.

For `CrashManager` though there is no way to use the new gradle manifestPlaceholders capabilities if a CrashManagerListener is also needed when registering.

[2016-01-27 19:43] ranterle commented on #123
We only added the most commonly used `register()` calls with the simplified parameter list. We might include the call with a `CrashManagerListener` in the future.

Until then, you can always use [`Util.getAppIdentifier()`](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/java/net/hockeyapp/android/utils/Util.java#L250) to retrieve the app identifier string injected t

[2016-01-27 19:55] murki commented on #123
Thanks, @ranterle that works for now. Hopefully this will be added in the future though.

[2016-01-27 20:49] #123 closed

[2016-01-27 20:49] #116 closed

[2016-01-28 16:38] techee opened #124 "Make it possible to disable write_external_storage permission"
On the page here:

http://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk

you describe that if one needs only crash reporting, the write_external_storage is not needed. However, because of manifest merging it gets always imported from

https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/AndroidManifest.xml

This permission requirement is q

[2016-01-28 20:37] ranterle commented on #124
We do need `WRITE_EXTERNAL_STORAGE` for the in-app update process, otherwise the Android package installer can't access the downloaded APK.

I understand where you're coming from when only using HockeySDK for crash reporting or feedback but not for in-app updates. On this topic:

If you're building your app against Android 6.0 with `targetSdkVersion 23` this enables [runtime permissions](http://de

[2016-01-28 20:46] techee commented on #124
@ranterle OK, thanks for the clarification. In any case I'd suggest updating the documentation (I guess it comes from the times when manifest merging didn't happen).

[2016-01-28 21:38] ranterle commented on #124
Thanks @techee we'll be looking into this.

[2016-02-01 16:55] joaocsousa commented on #121
@niedzielski I'm having the same issue and I'm having trouble fixing it. Can you explain briefly what the problem was in your case and how you solved it? Do you still need those hockey app specific proguard rules?

[2016-02-01 16:57] ranterle commented on #121
Just a quick heads up on this: We are currently not shipping any specific ProGuard configuration with our Android archive. We're working on getting this fixed.

[2016-02-01 17:51] niedzielski commented on #121
@joaocsousa, we had an Activity layout resource file named activity_login.xml that conflicted with an identically named filed in the new HockeyApp library. We renamed our copy to activity_foo_login.xml and updated our call [Activity.setContentView()](https://github.com/wikimedia/apps-android-wikipedia/commit/ffc31de0a54447d1562400865e3cfa32c5b01314#diff-7998521a60cfc1cafeb3ae0c7199bb61L66).

@rant

[2016-02-03 14:44] raviteja06 commented on #105
@ranterle I made some changes I code. But now I am not seeing this issue. Will update if I see it again. and will also post what I did to fix this issue.

[2016-02-04 02:10] blackjack75 commented on #124
I would indeed put a big warning about this in the 3.7.0 upgrade notes.

We only use crash reporting (nothing else) and this bit us by surprise. A lot of users suddenly complained about the new permissions.

[2016-02-04 02:15] TroubleMakerBen commented on #124
I just had a conversation on twitter about this. Maybe we find a workaround for this?
https://twitter.com/blackjack75/status/695064243968802817
https://twitter.com/blackjack75/status/695065087892180992
https://twitter.com/blackjack75/status/695065087892180992
https://twitter.com/blackjack75/status/695065761505763328
https://twitter.com/blackjack75/status/695065995820584961

[2016-02-04 02:17] TroubleMakerBen commented on #124
@blackjack75 thanks for pointing this out to us! We'll look into this.

[2016-02-04 10:48] ranterle commented on #124
We discussed this internally and are working on an overhaul of our documentation regarding this particular issue.

[2016-02-04 14:35] ajhuntsman commented on #94
I think section 4.2.1 addresses this, in 3.7.0:

https://github.com/bitstadium/HockeySDK-Android

[2016-02-04 15:00] ranterle commented on #94
@ajhuntsman there's a difference: Enabling automatic sending of crash reports only enables HockeySDK to send them without user interaction e.g. without asking them. Currently users will still have to relaunch the application - only then are crash reports sent (with or without user interaction).

What @niedzielski is suggesting instead and what we are working on is sending the crash reports in the

[2016-02-09 18:33] #124 closed

[2016-02-10 19:44] stari4ek opened #128 "Misleading message: Couldn't create HockeyApp Storage dir"
I'm getting multiple messages, which looks like a problem but it's not

Since `File.mkdirs()` returns False if directory exists already we will get bunch of messages each time `getHockeyAppStorageDir()` is called

[code]

It's better to check if it exists already

[2016-02-10 20:10] ranterle commented on #128
@stari4ek thanks for reporting this, I'll be looking into a fix for this soon.

[2016-02-10 20:46] stari4ek opened #129 "Default Feedback notification isn't visible on Android TV"
Android TV doesn't support notifications in the status bar.
Currently HockeyApp use `buildNotificationPreHoneycomb` to build it.
Of course it's possible to provide listener and do own processing, but it would be nice to have default one (toast?)

* android TV emulator, API 21

[2016-02-10 21:01] ranterle commented on #129
Hi @stari4ek - we don't officially support Android TV with our SDK as of yet - we are working on this.
On that note, can you tell us a bit more on where and how you are using HockeyApp on Android TV? Feel free to create a support ticket at http://support.hockeyapp.net if you want to share private information.

[2016-02-10 21:52] #128 closed

[2016-02-11 06:48] stari4ek commented on #129
I use it for crash reporting. Right now I'm working on "report a problem" using feedback feature.
It's "TV input" app with 2 configuration-like activity and service for playback.

[2016-02-17 16:55] TroubleMakerBen commented on #105
@raviteja06 any news on this, I'll close this other otherwise.

[2016-02-17 22:56] ehlkej commented on #121
@ranterle it would be great if you could name your library resources with some sort of qualifier to avoid conflicting with IDs that your host app might use. Apps shouldn't really have to worry about naming conflicts with their third party libraries.

[2016-02-17 23:05] ranterle commented on #121
@ehlkej resource IDs from our SDK should be in a different namespace than those from apps. Can you post the details and some sample code of the problem here or [create a support request](http://support.hockeyapp.net) and I'll look into them?

[2016-02-18 16:07] ranterle commented on #121
@ehlkej @niedzielski @joaocsousa  Looking into that, we will soon have a PR and 3.7.1 release which fixes our ProGuard shortcomings. Sorry for the trouble. Our testing didn't reveal any problems before, we will extend our review process to make sure it doesn't happen again.

[2016-02-19 01:39] duckinferno commented on #121
Thank you @ranterle - top notch responding :)
I can confirm that renaming our activity_login.xml fixes this issue.

[2016-02-19 09:01] ranterle commented on #121
Please have a look at #132 which addresses this issue.

[2016-02-25 21:34] #121 closed

[2016-03-01 22:36] TroubleMakerBen commented on #105
Closing this as we haven't heard back. Please let us know in case you continue seeing this.

[2016-03-01 22:36] #105 closed

[2016-03-07 13:21] tkorri opened #139 "CrashManager uses wrong text resource for positive dialog button"
CrashManager.showDialog sets R.string.hockeyapp_dialog_positive_button, instead
of R.string.hockeyapp_crash_dialog_positive_button, as the positive dialog button text resource.

This makes the crash dialog show OK for the positive button instead of Send.

[2016-03-07 13:22] ranterle commented on #139
Hey, nice catch - thanks for notifying us.

[2016-03-07 14:03] #139 closed

[2016-03-09 14:21] ranterle opened #140 "Feedback progress toasts not localized"
The feedback progress toasts are not localized:

* Sending feedback: https://github.com/bitstadium/HockeySDK-Android/blob/3b30589c66e3f69a91789e5719537a212cb24ca9/hockeysdk/src/main/java/net/hockeyapp/android/tasks/SendFeedbackTask.java#L144
* Retrieving discussions: https://github.com/bitstadium/HockeySDK-Android/blob/3b30589c66e3f69a91789e5719537a212cb24ca9/hockeysdk/src/main/java/net/hockeyapp/

[2016-03-12 09:38] ranterle commented on #140
Completed in a2624597740fc675eceef0fa561a687859b2b8b5

[2016-03-12 09:38] #140 closed

[2016-03-21 13:30] degill opened #141 "Remove tools:ignore="allowBackup" from AndroidManifest"
First of all, applications should handle allowBackup and other attributes within the `<application>` tag in the AndroidManifest on their own IMHO.

Additionally, I think the `tools:ignore` directive is misplaced here because it is for XML other than the AndroidManifest as it is nowhere stated in the ManifestMerger documentation (https://sites.google.com/a/android.com/tools/tech-docs/new-build-syst

[2016-03-21 14:29] ranterle commented on #141
Hi @degill, I remember at one point not specifying this caused a lint error, so we introduced the tools:ignore flag. For some reason, if I remove it now altogether – as proposed by you – it doesn't even generate a warning anymore – even though my local `lint --show` lists it as a warning:

[code]

Running it through a different build tools version on Travis didn't yield any more problems so I will

[2016-03-23 14:03] #141 closed

[2016-04-01 04:09] jeffrey-garcia opened #145 "Fail to build hockeyapp with Proguard"
Build fails........

Warning: net.hockeyapp.android.Constants: can't find referenced field 'java.lang.String[] SUPPORTED_ABIS' in library class android.os.Build
Warning: net.hockeyapp.android.UpdateActivity: can't find referenced method 'void requestPermissions(java.lang.String[],int)' in program class net.hockeyapp.android.UpdateActivity
Warning: net.hockeyapp.android.UpdateFragment: can't find r

[2016-04-01 09:43] ranterle commented on #145
Hi @jeffrey-garcia,
for which version of the Android SDK is this? Can you paste your integration build.gradle file?
If you want to provide sensible information, feel free to open up a [support request](http://support.hockeyapp.net).

Kind regards,
Mat

[2016-04-05 00:11] jeffrey-garcia commented on #145
android {
    compileSdkVersion 'Google Inc.:Google APIs:19'
    buildToolsVersion "23.0.0"

    defaultConfig {
	minSdkVersion 14
	targetSdkVersion 14

        // Enabling Multi-Dex support
        multiDexEnabled true
    }
}

[2016-04-05 00:14] jeffrey-garcia commented on #145
We workaround this by ignoring the proguard warning on HockeyApp, and also skip the obfuscating of the classes in HockeyApp SDK by the following lines in proguard.cfg:

-dontwarn net.hockeyapp.android.** ;
-keep public class net.hockeyapp.android.** {
	*;
}

[2016-04-05 18:01] kwikgoal opened #146 "Network Connect on Main Thread"
Hockey is throwing an exception when testing in Strict Mode.  Looks as if it is coming from okhttp, and likely requires some change in way Hockey is creating connections via the library.

See https://github.com/square/okhttp/issues/2017 for the description.

Using 3.7.0 of Hockey currently.  Also tried the newest 4.0.0, and still occurs.

04-04 19:38:00.239 7701-7701/com.myapp W/System.err: androi

[2016-04-06 01:54] murki commented on #115
@ranterle any chance this will make it into v4.0?

[2016-04-06 15:29] ranterle commented on #146
Hi @kwikgoal, thanks for reporting this. For legacy reasons we are submitting our crashes in the simplest way possible. We are working on a new sender architecture already which will also move all network traffic (including submitting crash reports) off the main thread. So far we can give no ETA when this will be finished.

[2016-04-06 15:39] ranterle commented on #115
@murki User interface restructuring is still on our backlog - can't promise for 4.0 I'm afraid.

[2016-04-07 09:49] ranterle commented on #145
Looking into this we don't see anything why ProGuard should not be working for you.
Keeping the HockeyApp classes as a workaround should be fine, but I'd still like to be able to reproduce this to really fix the underlying issue.

[2016-04-07 17:07] TroubleMakerBen commented on #145
@jeffrey-garcia would it be possible for you to send us a Demo-Project? We would love to reproduce this and find the underlying problem. Having our customers do workarounds is not what we want. ;)
If you have concerns to send us a whole demo-project, please open a support request on our website and send it to us there instead.

Best,
Benjamin

[2016-04-08 12:48] sdoward commented on #145
I am experiencing issues with proguard after updating to 3.7.2

      You should check your configuration for typos.
      (http://proguard.sourceforge.net/manual/troubleshooting.html#unknownclass)
Note: there were 3 classes trying to access enclosing classes using reflection.
      You should consider keeping the inner classes attributes
      (using '-keepattributes InnerClasses').
      (http:/

[2016-04-08 13:54] ranterle commented on #145
Hi @sdoward. Unfortunately the error message you pasted does not contain any information on which references are missing and from which module. We can't reproduce this issue at the moment without more information. Can you add information about which modules of the SDK you are using, and attach verbose log output from ProGuard for us to identify the issue?

[2016-04-08 20:33] TroubleMakerBen opened #149 "Confirmation Dialog "Send Report" is cut off"
On a Samsung Galaxy S4, running Android 5, the confirmation dialog text "Send Report" is cut off, it says "Send Repo".
SDK Version: 4.1.0-beta.1

Reported by @chrwend. I will look into this.

[2016-04-09 13:59] PatrickMA opened #150 "UpdateManager not working"
I've a strange problem which I want to share with you:

I'm checking in the LoginActivity of my application for updates. But sometimes no update dialog is shown, even if the new version in HockeyApp is a mandatory update. So I decided to implement a custom `UpdateManagerListener` which loads the LoginFragment if no update is available, otherwise the UpdateDialog will be shown anyway.

In the `onCr

[2016-04-09 15:00] ranterle commented on #150
Hi @PatrickMA, thanks for reporting this. I will look into this. Can you share any more information to isolate the issue? Do you see a particular pattern around device OEMs, OS versions, network connectivity, or in regards to the frequency of this occurring?
Which SDK version are you referring to? If you need to share private information, feel free to open a [support request](http://support.hockey

[2016-04-09 15:47] PatrickMA commented on #150
Hey @ranterle!

SDK Version ist 3.7.0, but also tried with 4.0.0-beta.1
Works on Android Emulator (6.0.1 with Google APIs), Xperia Z3 D6603 (Android 5.1.1)
Does not work on Nexus 5 (Android 6.0.1), OnePlus One (Android 5.1.1), OnePlus Two (Android 5.1.1 and 6.0.1, but works on another OnePlus Two with Android 5.1.1)

I have not tried it on other phones yet and I cannot say something about the netw

[2016-04-11 08:44] PatrickMA commented on #150
**Edit:** I cleaned up the code a bit:

[code]

The `setFragment()` method looks like this:

[code]

[2016-04-12 12:45] ranterle commented on #150
The only reason I can think of right now is, that those devices maybe return something off in [`installedFromMarket`](https://github.com/bitstadium/HockeySDK-Android/blob/24d7447d5d799b4018068ffd7ec33ab57f9e392a/hockeysdk/src/main/java/net/hockeyapp/android/UpdateManager.java#L241).
The problem is, that debugging the issue will change the results you will get (if you install via ADB it will yield

[2016-04-14 06:23] PatrickMA commented on #150
Thank you for the answer @ranterle !
I tried it and published it to a tester (OnePlus One - Android 5.1.1). After updating the application it works perfectly, but a few hours later it didn't start anymore.

One more question: Why should I override `canUpdateInMarket()` and return `true`? If the user could update in the Google Play Store, why should the update dialog pop up? What does the method at

[2016-04-14 23:42] TroubleMakerBen commented on #150
Hi @PatrickMA,

Matthias (@ranterle) is now on vacation, so I'll take over for him.

So you're saying that the update worked but after a few hours the app didn't start all anymore?

About your questions regarding `canUpdateInMarket()`:
AFAIK Matthias asked you to override it because we had issues in the past where certain devices reported weird stuff so HockeySDK "thought" the app is in a market e

[2016-04-15 06:30] PatrickMA commented on #150
Hey @TroubleMakerBen,

Thank you! I've now invited more testers for the version of my application with the overridden `canUpdateInMarket()` and it seems that the problem does not occur as often as before.
It seems the [problem reported yesterday](https://github.com/bitstadium/HockeySDK-Android/issues/150#issuecomment-209779012) on the OnePlus Two only occured once and a few hours later the applica

[2016-04-22 13:52] TarekMowafy opened #151 "FeedbackManager.takeScreenshot(this)"
I cant take a screenshot using this method.

`FeedbackManager.setActivityForScreenshot(Activity.this);                    FeedbackManager.takeScreenshot(this);
FeedbackManager.showFeedbackActivity(this);`

i get this error
`             java.io.FileNotFoundException: /storage/emulated/0/HockeyApp/com.dbp.Activity.jpg: open failed: ENOENT (No such file or directory)

[2016-04-22 14:35] #151 closed

[2016-04-22 14:37] TarekMowafy commented on #151
should be checking if the user has granted permission of external storage

[2016-04-27 07:08] tianyong2 opened #154 "values-zn"
Can you add a values-zn?

[2016-04-27 12:45] anlinde commented on #154
Where do you want to add what kind of values?

[2016-04-27 15:08] TroubleMakerBen commented on #154
Hi @tianyong2,
I'm not sure I understand your question correctly, but I think you are asking for a localization in "ZH" for simplified chinese?

We have additional locales on our backlog but to be honest, I can't give you an ETA for this.
We're happy to receive a pull request with some new localizations.

Benjamin

[2016-04-28 01:55] chrwend opened #155 "Expose method to explicitly trigger update check"
Hi guys,

I was wondering if you guys could expose a way to trigger an update check. It seems like the HockeySDK for iOS already supports that (`checkForUpdate()`).

Cheers

[2016-04-28 15:49] TroubleMakerBen commented on #155
Each UpdateManager.register()-call checks for updates, totally possible to call it multiple times.

It'd be neat to have that as an explicit API, though.

[2016-04-28 21:43] ranterle commented on #155
Will have a look into this.

[2016-04-29 21:37] keithburgoyne opened #157 "Can't get user email from LoginManager"
Submitting crash reports via Android requires we set the user's email information in a CrashMetaData instance in order to have the Contact column filled in on the Crashes section of the website.

iOS seems to do this automatically, but Android does not. To help work around this, it would be fantastic if the `LoginManager` class could provide a means of retrieving the HockeyApp email address the us

[2016-05-02 08:25] ranterle commented on #157
Hi @keithburgoyne I can see your point – as of now are modules are very independent of each other. You are very welcome to file a PR if you have something ready – otherwise we will put it on our backlog.

[2016-06-13 15:34] pietrini opened #160 "Hockey Updates are very slow"
Since the 4.0.x releases, the time before the update dialog prompt on android is just crazy.

06-13 17:05:01.542 D/Main: HockeyApp
06-13 17:05:01.555 D/HockeyApp: Looking for exceptions in: /data/user/0/ch.rts.player.beta/files
06-13 17:05:01.556 D/HockeyApp: Current handler class = com.android.internal.os.RuntimeInit$UncaughtHandler
06-13 17:05:01.665 D/HockeyApp: Looking for exceptions in: /data

[2016-06-13 15:36] ranterle commented on #160
Hi @pietrini can you verify this issue is not also affecting the previous releases? We haven't seen any such issues, so I have to assume some kind of other issue. Is your network fine?

[2016-06-13 15:42] pietrini commented on #160
Hi, yes the network is fine and we test it on wifi and cellular data. I wouldn't have create a ticket otherwise. We used the build 3.6.2 before and it works fine.

[2016-06-14 09:29] ranterle commented on #160
Thanks for providing the details about your connection and the earlier working versions. This looks very odd to me. Can provide the integration code you are using for HockeySDK, such as where and how you set up the UpdateManager? If this contains confidential code, feel free to open up a support ticket at https://support.hockeyapp.net

[2016-06-15 01:22] boguscoder opened #161 "UpdateManager does not show dialogs in Android N"
Even if update is available and isDialogRequired is set to true there is no update prompt on Android N (preview 1,2,3). Same app, same code on lower Android versions works as expected

[2016-06-15 05:12] ranterle commented on #161
Thanks @boguscoder for notifying us. In our testing of all developer previews of Android N so far everything worked fine. Can you please share information like device model and your app integration code with us, so we can isolate the issue? If you need to share non-public information, you can also open up a support request at https://support.hockeyapp.net

Thanks,
Mat

[2016-06-15 17:37] boguscoder commented on #161
I have to apologize, there must have been a downtime or deployment issue on our side at the time of testing. I've tested again few devices and all works as expected

[2016-06-16 08:34] pietrini commented on #160
done : https://support.hockeyapp.net/discussions/problems/58335-hockey-updates-are-very-slow

[2016-06-16 08:37] ranterle commented on #160
Thanks, I'll close this here and will come back to you in support.

[2016-06-16 08:37] #160 closed

[2016-06-18 16:11] ranterle commented on #154
Closing this in favor of #162

[2016-06-18 16:11] #154 closed

[2016-06-18 16:12] ranterle commented on #150
Hi @PatrickMA do you have an update on this or does it still occur infrequently?

[2016-06-18 16:13] ranterle commented on #157
Put on our internal backlog. Closing this for now.

[2016-06-18 16:13] #157 closed

[2016-06-18 16:17] ranterle commented on #155
Put this on our internal backlog. Closing here for now.

[2016-06-18 16:17] #155 closed

[2016-06-18 16:18] #67 closed

[2016-06-18 16:22] #145 closed

[2016-06-18 16:22] #146 closed

[2016-06-21 09:58] Shyish opened #164 "UpdateManager does not remove downloaded APKs"
When using the UpdateManager for your app after several updates the devices start to get full because of the old leftover apks downloaded and not cleaned.

Please consider using proper naming (some code + date) so the old apks can be removed after successfully downloaded a new one.

I could try to create a pull request to DownloadFileTask if needed.
Cheers.

[2016-06-21 11:07] ranterle commented on #164
Thanks @Shyish for the comment. As you point out it is hard to find out which APKs can be purged from within the SDK. Our users use a lot of different versionName & versionCode scheme combinations, so in the past UUIDs were the thing that caused the least trouble. We'll be looking into this.

[2016-07-01 08:01] swellner opened #165 "PaintActivity Crash"
I have lots of crashes from an device which is called "Full Android on Emulator" with the PaintActivity. I think this device is a monkeyrunner from Google. The monkeyrunner starts all activities and the PaintActivity expects an extra which isn't given.

**Here is a crashlog:**

Package: XXXXXX
Version Code: 5284
Version Name: 5.284
Android: 4.1.1
Android Build: full-eng 4.1.1 JRO03R eng.john.20160

[2016-07-01 08:11] ranterle commented on #165
Thanks @swellner, for reporting this issue. I'll be looking into preventing this NPE from happening in this rare scenario.

[2016-07-01 08:14] ranterle commented on #129
Closing this as TV support is not official for us right now. Feel free to file a PR with changes.

[2016-07-01 08:14] #129 closed

[2016-07-01 08:17] ranterle commented on #92
Added this to our backlog.

[2016-07-01 08:17] #92 closed

[2016-07-01 08:17] ranterle commented on #93
Closing this as duplicate of #92.

[2016-07-01 08:17] #93 closed

[2016-07-01 08:18] #94 closed

[2016-07-01 08:18] #100 closed

[2016-07-01 08:19] ranterle commented on #115
Will be looking into this in the next iteration.

[2016-07-01 08:19] #115 closed

[2016-07-01 14:20] niedzielski commented on #94
@ranterle, I'm not seeing this in master. Has this been implemented?

[2016-07-01 14:20] niedzielski commented on #92
Is there a place I can track this now that it's been moved?

[2016-07-05 12:59] ranterle commented on #94
@niedzielski This is currently being discussed for a major next version of the SDK.

[2016-07-05 13:00] ranterle commented on #92
@niedzielski unfortunately not, sorry. We are considering this for the next major version of the SDK.

[2016-07-07 16:03] anthonycr opened #166 "Memory leak in MetricsManager when initialized with Activity context"
The new API for the `MetricsManager` suggests that you initialize it with an Activity context (`MetricsManager.register(Context, Application)`). Documentation does not specify that an Activity context is required, but the language of the docs [found here](https://www.hockeyapp.net/help/sdk/android/4.1.0-beta.2/net/hockeyapp/android/metrics/MetricsManager.html#register-android.content.Context-andro

[2016-07-07 16:18] ranterle commented on #166
Hi @anthonycr thanks for reporting this and your thorough investigation so far - I will look into this.
First things first: Using the `application` instance should be fine, if you encounter any problems, please do let me know.

I will make sure our documentation reflects this, and will look into fixing the leak. Like you said, this will probably involve deprecating the old API (I remember some leg

[2016-07-07 16:22] anthonycr commented on #166
Great! Thanks for following up so quickly, we'll continue to use the application context then

[2016-07-30 00:33] candrews opened #167 "App updating does not work when targeting the API 24 on Android N"
When targeting API 24 and running on an Android N device, the update manager's installation feature doesn't work.

UpdateManager will download the APK from hockeyapp (including requesting permission to access external storage), but then it crashes with [FileUriExposedException](https://developer.android.com/reference/android/os/FileUriExposedException.html). Here's the stack trace:
``
Process: com

[2016-07-31 14:54] nbonavia opened #168 "Optional upgrade dialog can be closed without triggering an onCancel in the UpdateManagerListener"
I am using hockeyapp sdk together with the UpdateManagerListener so that I'll be notified whenever a user interacts with the process. Whenever the user is prompted to optionally upgrade the app, the user can cancel the dialog in 2 ways, which are: -
- Pressing the back button
- Clicking anywhere outside the dialog button.

May I suggest 2 options:
1. (Simpler Option) In the Alert Dialog, set setCa

[2016-07-31 14:57] nbonavia opened #169 "The UpdateManagerListener does not get notified if no update check is going to be performed"
The update manager does not Always check for updates, however when we attach the UpdateManagerListener, it would be great to have a callback e.g. onUpdateCheckSkipped so that the listener will be informed that update check will not be performed in this round. This allows a smoother behaviour on certain tasks bound with update check decisions.

[2016-07-31 14:58] nbonavia commented on #169
BTW, I am using Version 4.1.0-beta.2

[2016-07-31 14:59] nbonavia commented on #168
BTW, I am using Version 4.1.0-beta.2

[2016-08-03 03:20] candrews commented on #167
Here's a nice explanation of what the problem is, why Google changed the behavior, and how to fix it: https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en

[2016-08-03 06:27] ranterle commented on #166
Fixed in 4.0.2

[2016-08-03 06:27] #166 closed

[2016-08-03 06:28] ranterle commented on #150
Closing this until it can be reproduced reliably.

[2016-08-03 06:28] #150 closed

[2016-08-03 06:30] ranterle commented on #169
We are caching the results for the update manager check - will be looking into the appropriate changes. Feel free to open a PR with the changes if you have them ready.

[2016-08-03 06:32] ranterle commented on #168
Thanks for notifying us, I will be looking into this.

[2016-08-03 06:33] ranterle commented on #167
Thanks for the report and the detailed description - I will be looking into a fix.

[2016-08-05 12:15] MKevin3 commented on #165
This happens to us as well. Every new release we do we have to put up with rejecting these bugs from JIRA as they constantly reappear.

[2016-08-05 23:42] ranterle commented on #167
There is one issue with the suggested approach: It depends on support-v4 being present for the `FileProvider` class. Will have to find another way around this.

[2016-08-22 16:19] jaredsburrows commented on #115
@ranterle This issue has been closed. Was this added in 4.0.2 or are you still working on this?

[2016-08-22 16:40] ranterle commented on #115
@jaredsburrows This is on our backlog and will be addressed in a future version, but unfortunately I can't give an ETA or version number for this as of now, sorry.

[2016-08-22 23:57] jaredsburrows commented on #115
@ranterle
Could you make `FeedbackActivity` a `Fragment`? or
Would you allow a PR to add in `AppComp` to extend `FeedbackActivity` with `AppCompatActivity`?
We could possible have both a `FeedbackActivity` and `FeedbackAppCompatActivity`.

[2016-08-24 06:06] boguscoder commented on #161
Sorry for poking into bug's corpse, but I just hit this again and debugged to nail the root cause. So the issue only repros when I install app from HockeyApp app because installedFromMarket call would  return true in this case, at least on my device. When installed from adb all subsequent update prompts are working as expected

[2016-08-24 07:12] ranterle commented on #161
@boguscoder What kind of device do you have? What does `context.getPackageManager().getInstallerPackageName(context.getPackageName())` return on your device, when you install an app via the HockeyApp app?

[2016-08-24 15:01] boguscoder commented on #161
Im using Nexus 6p on final Android N.
It returns smth like com.google.android.packageinsataller

[2016-08-24 15:15] boguscoder commented on #161
The workaround I have used so far was to let HockeyApp app download every app I need but cancell installation and manually install with adb from Downloads

[2016-08-25 12:29] #167 closed

[2016-08-25 15:04] ranterle commented on #161
@boguscoder I'm able to reproduce the issue, in the sense that:
In my testing on Android N, our mechanism to determine the installer package name before Android N returned `null`, whereas in Android N it returns `com.google.android.packageinstaller` on my Nexus 5X.
Looking to implement a fix for this.

[2016-08-25 17:30] Brian-Kaplan opened #171 "UpdateManager.installedFromMarket() does not behave correctly on Android N API 24"
In Android N API 24 UpdateManager.installedFromMarket() exhibits incorrect behavior.

After doing a lot of debugging I have been able to pinpoint the issue to this line of code

 `String installer = context.
getPackageManager().getInstallerPackageName(context.getPackageName());`

This function should only be returning true if this app was downloaded from the google play store

Correct Cases:
When

[2016-08-25 17:32] #171 closed

[2016-08-25 17:32] Brian-Kaplan commented on #171
There is already on open issue

[2016-08-25 18:12] Brian-Kaplan commented on #161
@ranterle Having the same issue here as well. Any idea on when you will have a fix for it?

[2016-08-26 02:37] aromanovsky opened #172 "Util.isConnectedToNetwork crashes if ACCESS_NETWORK_STATE is revoked / not granted"
Since Android M[arshmallow], the user can revoke previously granted permission groups, such as network state access. The CrashManager#sendCrashes() method handles many obstacles gracefully, however this one causes a SecurityException with the following trace:

java.lang.SecurityException: ConnectivityService: Neither user 10171 nor current process has android.permission.ACCESS_NETWORK_STATE.
    a

[2016-08-27 09:26] ranterle commented on #161
@Brian-Kaplan I'm working on that, unfortunately no ETA possible, but real close.

[2016-08-29 13:23] Brian-Kaplan commented on #161
@ranterle Awesome, thanks for looking into a fix for us!

[2016-08-29 19:44] #161 closed

[2016-08-30 06:26] ranterle commented on #172
Hi @aromanovsky, thanks for reporting this.
In my testing, the `ACCESS_NETWORK_STATE` permission is not presented to the user for granting, it is in the [Normal Permissions group](https://developer.android.com/guide/topics/security/normal-permissions.html) - so to my knowledge, the user can only revoke this permission using ADB.

To mitigate the crash:
The originating method `Util.isConnectedToNet

[2016-08-30 06:45] aromanovsky commented on #172
Logging is good enough. I would also suggest returning true then so that code that relied on prior network availability knowledge tried the network operation anyway. (And if it fails, it would result in nothing worse than a further retry at a later time.)

[2016-08-30 07:09] ranterle commented on #172
Unfortunately this is not entirely possible - some of the network calls would fail and could cause crashes. The permission not being granted is an edge case as laid out before, so I think the better behavior is to stop right there.

[2016-08-30 07:25] aromanovsky commented on #172
Unfortunately, I would consider it in irrecoverable regression and advise my team to stick to the existing version then.
1. No I/O operation can be guaranteed to complete in a predictable fashion. Going out of network coverage / switching networks / hitting a "Sign in to WiFi" proxy wall / radio jam from magnetic storms would stay possible in all cases.
2. Network calls throw a checked IOException

[2016-08-30 08:00] ranterle commented on #172
We have had weird uncaught exceptions and error scenarios even though we employed checks in the respective areas on several occasions. Unfortunately, errors are often not reproducible because only limited information is available. This prompted us to add this network connectivity check in the CrashManager.

Generally speaking, what would be the motivation of a user to be deliberately revoking the

[2016-08-30 08:18] aromanovsky commented on #172
However the motivation the scenario is legitimate, and whether or not the feature is available on a specific device, there are firmwares in the wild giving that flexibility.
This is the report we have: https://rink.hockeyapp.net/manage/apps/11060/app_versions/34145501/crash_reasons/133684546

We can ofc speculate (e.g. app just installed prior to permission request and crashed fresh on installatio

[2016-08-30 08:21] aromanovsky commented on #172
...and I was right about the firmware. The issue is predominantly affecting LG VS990, LG-H900, LG-H901 and like on OS 6.0 (I did not say "exclusively" to avoid paging through all the 1600 traces).

[2016-08-30 08:27] aromanovsky commented on #172
Accessing - even merely reading - the network state (i.e. the way the user connects to the network, which includes carriers, WiFi SSIDs etc.) is not critical to the functionality of a communication app; hence, it SHOULD NOT be exposed; and if the application deliberately requests it, then something is wrong with the app and the permission MUST NOT be exposed. I am not obsessed with security, but I

[2016-08-30 08:39] ranterle commented on #172
According to the official documentation, the `ACCESS_NETWORK_STATE` permission is granted automatically upon installation, when it is listed in the manifest. The documentation is not clear on  whether permissions granted this way can be revoked later through ADB – our test devices don't allow for changing the permission later, so we can't verify it.
How did you find out about the affected devices,

[2016-08-30 08:48] aromanovsky commented on #172
Yes.

Well, you have the trace on the ticket. I would open a support request if extra proof is required.

Then it means they do.

Which still means the application developer has to _ship_ the app with this permission - whether the primary app functionality requires it or not.

As I put above, nothing can be reliable about a network I/O operation in general, in particular *no check made beforehand*

[2016-09-07 22:12] OnlyInAmerica opened #174 "SendFeedbackTask crashes if no Internet available"
`SendFeedbackTask#doInBackground` throws an uncaught exception if no Internet is available because it seems [HttpURLConnectionBuilder.build()](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/java/net/hockeyapp/android/tasks/SendFeedbackTask.java#L278) throws a `RuntimeException` if no address for the given host is available:

[code]

[2016-09-13 13:36] stephenroberts82 opened #175 "Upgrading to gradle 2.14 breaks hockey upload"
When executing

./gradlew uploadDevReleaseToHockeyApp

 I get:

:instaply-android:uploadDevReleaseToHockeyApp FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':instaply-android:uploadDevReleaseToHockeyApp'.

It was working fine with 2.10.

[2016-09-13 13:40] ranterle commented on #175
Hi @stephenroberts82,
the SDK doesn't offer this task, what plugin do you use that adds this task?

Best,
Mat

[2016-09-13 13:50] stephenroberts82 commented on #175
Yes, apologies, it comes from another plugin.

[2016-09-13 13:50] #175 closed

[2016-09-15 15:08] tranb3r opened #176 "WRITE_EXTERNAL_STORAGE permission is not merged properly when using android:maxSdkVersion"
My app needs the WRITE_EXTERNAL_STORAGE permission on Android versions <= 18.
So my app manifest contains the following line:
<`uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />`

It looks like HockeyApp does not properly merge its own WRITE_EXTERNAL_STORAGE permission in this situation. Indeed the final manifest (after merge) still contains the

[2016-09-15 15:24] ranterle commented on #176
Hi @tranb3r - so the quick solution to me looks like you could just remove the `android:maxSdkVersion` attribute from your permission requirement if you ship the HockeySDK anyway.
I will look into updating our Manifest merging strategy so this gets handled intuitively.

[2016-09-16 08:20] Dimezis opened #177 "Util.isConnectedToNetwork and ConnectivityManager leak"
Hello,

There's a known leak in Android SDK, related to static `Context` reference inside of `ConnectivityManager`.
HockeySDK depends on it while checking `Util.isConnectedToNetwork(Context)` and passing Activity reference as a Context. Although you have the `WeakReference` while accepting the Activity reference, of course you still pass a strong reference to that method, hence there's a leak on H

[2016-09-16 08:41] partition commented on #177
Upvoted. This is huge.

Any possibility to ship it quickly? It's causing issues for me as well.

[2016-09-16 09:23] ranterle commented on #177
Hi @Dimezis, I was not able to reproduce this issue using LeakCanary as to the description you sent. Can you provide a sample where this leak is reproducible?
If you look into the [implementation](https://github.com/bitstadium/HockeySDK-Android/blob/652511d18ae81b37d13540bba176d57c3c1c2da2/hockeysdk/src/main/java/net/hockeyapp/android/utils/Util.java#L266-L273), we don't pass anything to the `Conn

[2016-09-16 09:41] Dimezis commented on #177
Yes, for some reason it is not 100% reproducible, but I can send you an example a bit later.
We also track it with LeakCanary.

By "passing" I mean that you are calling `getSystemService` on Activity context.

Ok then, I'll make a PR and try to provide more reliable steps.

[2016-09-16 09:49] ranterle commented on #177
Ok, thanks I was figuring something along the lines. This helped: https://github.com/mapbox/mapbox-gl-native/issues/3525
No need for a PR then, I'll try to include the fix in our next release.

[2016-09-16 09:51] #177 closed

[2016-09-17 15:51] mingchen opened #178 "E/StrictMode: http connection resource leak when sending a tracking event"
**SDK Version:** 4.1.0
**OS:** Android 6.0

**Description:**

http connection resource leak when call `MetricsManager.trackEvent(eventName)` sending a tracking event. The following the strict mode detail message.

[code]

[2016-09-17 15:59] ranterle commented on #178
Hi @mingchen - thanks for reporting this. I'll work on reproducing this and will include a fix in the next release.

[2016-09-17 16:05] mingchen commented on #178
Hi @ranterle Thank you for your quick response and fix!

[2016-09-29 12:23] pvegh opened #181 "WRITE_EXTERNAL_STORAGE should be optional at most"
An extra permission in our app which otherwise would not needed.
For what exactly is this used in the SDK? Crashes could be written in the private storage of the app without permission and maybe copied to Documents or Downloads if needed to be shared?

Seems like this this perm came with 4.0.2, it is not needed with 4.0.1.

Our aim is not to have this perm in the app at all.

[2016-09-29 12:26] ranterle commented on #181
Hi @pvegh - this permission is required for the update feature. You can use the following instructions if you don't need the feature and don't want to require the permission: https://github.com/bitstadium/HockeySDK-Android#471-removing-external-storage-permission

[2016-09-29 13:07] pvegh commented on #181
Alright thanks for the info.

[2016-09-29 13:07] #181 closed

[2016-10-06 21:44] jaredsburrows opened #182 "Caused by: java.lang.NullPointerException: Attempt to get length of null array"
## Hockey app:
4.1.1, 4.0.1

## Android:
6.0.1

## Manufacturer:
samsung

## Model:
SM-N910W8

## Exception:
[code]

[2016-10-07 08:42] ranterle commented on #182
Hi @jaredsburrows,
thanks for providing the extensive details on the crash. We are looking into this.

[2016-10-07 17:42] jaredsburrows opened #183 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference"
## Hockey app:
4.0.1

## Android:
5.0.2

## Manufacturer:
motorola

## Model:
Nexus 6

## Exception:
[code]

[2016-10-07 17:44] jaredsburrows commented on #183
## Android:
4.4.2

## Manufacturer:
LGE

## Model:
Nexus 5

## Exception:
[code]

[2016-10-10 07:13] ranterle commented on #183
Hi @jaredsburrows, can you post steps to reproduce as well as your integration code here or in our [support channel](https://support.hockeyapp.net)?

[2016-10-10 17:19] jaredsburrows commented on #183
I am not sure how to reproduce them. These seem like simply null check or initialization errors. These errors were caught from hockeyapp using hockeyapp. We recently upgraded to `4.1.1`, so I am hoping that these can easily be fixed or are already fixed.

[2016-10-12 22:25] jaredsburrows opened #184 "java.lang.NullPointerException at net.hockeyapp.android.metrics.Persistence.isFreeSpaceAvailable"
## Hockey app:
4.1.1

## Android:
4.4.2

## Manufacturer:
samsung

## Model:
SM-G386W

## Exception:
[code]

[2016-10-18 16:56] jaredsburrows commented on #184
Similar to #https://github.com/bitstadium/HockeySDK-Android/issues/182

[2016-10-18 16:57] jaredsburrows commented on #182
@ranterle Any update on this?

[2016-10-18 16:59] jaredsburrows commented on #184
`listFiles` returns `null` - https://github.com/bitstadium/HockeySDK-Android/blob/cd5b3e9af812fba78f075de2453dd371f4a01b81/hockeysdk/src/main/java/net/hockeyapp/android/metrics/Persistence.java#L277

[2016-10-18 16:59] jaredsburrows commented on #182
`listFiles` returns `null` - https://github.com/bitstadium/HockeySDK-Android/blob/cd5b3e9af812fba78f075de2453dd371f4a01b81/hockeysdk/src/main/java/net/hockeyapp/android/metrics/Persistence.java#L277

[2016-10-18 17:04] jaredsburrows commented on #183
This maybe fixed in master: https://github.com/bitstadium/HockeySDK-Android/blob/6564ca9563eb8559abd9a9b9e6672403bce7c262/hockeysdk/src/main/java/net/hockeyapp/android/FeedbackActivity.java#L792.

[2016-10-19 00:08] johnryan commented on #184
Seeing the same issue on 6.0.1

[2016-10-21 07:54] ranterle commented on #182
We have not yet encountered this in our internal testing, thanks for the PR - looking at it now.

[2016-10-21 07:55] #182 closed

[2016-10-21 14:33] jaredsburrows commented on #184
Closing this as my #185 PR was merged!

[2016-10-21 14:33] #184 closed

[2016-10-21 14:34] #183 closed

[2016-10-25 17:42] johnryan commented on #165
@ranterle any update on this?

[2016-10-25 20:59] riguru opened #187 "VersionHelper.loadVersions() uses apk VersionCode instead of APP_VERSION"
VersionHelper.loadVersions() uses apk VersionCode instead of APP_VERSION.
though in CheckUpdateTask.doInBackground() uses Constants.APP_VERSION.
Constants.APP_VERSION should be used consistently.

[2016-10-26 07:31] ranterle commented on #187
Can you point us to the line of code you think is wrong?
https://github.com/bitstadium/HockeySDK-Android/blob/82b617cf1b2292b4e03a0e24675c4ffa109ea20a/hockeysdk/src/main/java/net/hockeyapp/android/utils/VersionHelper.java#L46-L69
VersionHelper.loadVersions() is not using the version of the app at hand but it's loading and sorting the versions the HockeyApp API lists as available for the app.

[2016-10-27 07:38] riguru commented on #187
so updateManager is relying on apk versionCode if BuildNumber is not provided?

[2016-10-27 07:43] ranterle commented on #187
I don't quite understand your question - the we don't inspect the APK version code in the SDK at all, as we don't have the APK. What do you mean by the BuildNumber is not provided? Can you please explain your scenario in more detail? Feel free to open a [support request](https://support.hockeyapp.net) if it contains sensible information.

[2016-10-28 10:51] ShreyashPromact commented on #145
I am also getting similar issue. is that any proper solution to that?

[2016-11-09 11:37] laalto commented on #157
For what it's worth, I was looking for something similar and ended up creating a PR to create such a method in `LoginManager`. https://github.com/bitstadium/HockeySDK-Android/pull/188

[2016-11-15 00:30] #187 closed

[2016-11-15 00:57] ranterle commented on #174
Sorry for the long delay. Unfortunately we're not able to reproduce this. There are network guards in place which should catch the case of no network connectivity, can you tell us the specific steps to reproduce this?

[2016-11-15 00:57] #172 closed

[2016-11-15 00:58] #169 closed

[2016-11-15 02:20] #168 closed

[2016-11-15 02:21] ranterle commented on #165
@johnryan Sorry for the delay - working on this now. I can't promise anything but hope for a timely fix and release.

[2016-11-15 02:25] ranterle commented on #165
The fix should already be live in 4.0.3 and later releases: https://github.com/bitstadium/HockeySDK-Android/blob/4.0.3/hockeysdk/src/main/java/net/hockeyapp/android/PaintActivity.java#L49-L52

[2016-11-15 02:25] #165 closed

[2016-11-15 02:26] ranterle commented on #149
Closing as not able to reproduce.

[2016-11-15 02:26] #149 closed

[2016-11-15 02:34] ranterle commented on #178
@mingchen Can you send us steps to reproduce the issue? We don't get any issues like this when running a test app with StrictMode.

[2016-11-30 10:50] johnshardman commented on #183
Different stack trace showing, but same exception when calling ShowFeedbackActivity using v4.1.0 of the HockeySDK.Xamarin NuGet package.

Calling:
HockeyApp.Android.FeedbackManager.ShowFeedbackActivity(MainActivity.TheInstance);

Results in:
Java.Lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference

 	0xFFFFFFFFF

[2016-12-02 15:46] ranterle commented on #174
Closing this as non-reproducible - please reopen this if it occurs again.

[2016-12-02 15:46] #174 closed

[2016-12-02 15:48] ranterle commented on #178
Closing this as non-reproducible as of now. Please reopen this if it occurs again.

[2016-12-02 15:48] #178 closed

[2016-12-02 16:01] ranterle commented on #176
After looking at the [Manifest Merger documentation](https://developer.android.com/studio/build/manifest-merge.html) I don't see how we can support this in the SDK. The SDK being a library will always be considered lowest priority for taking part in the merging process so it can't really dictate any changes.
If your app has this kind of permission requirement you will have to remove the `maxSdkVer

[2016-12-02 16:01] #176 closed

[2016-12-09 19:00] awhlee opened #192 "FeedbackActivity limited to responding to previously submitted feedback"
I'm using the FeedbackActivity via:

FeedbackManager.showFeedbackActivity(context);

and it works fine the first time.  Any subsequent launches of the FeedbackActivity only allows a user to add a response top previously submitted feedback. There is no option to submit new feedback or view a list of previous feedback.  Am I doing something wrong?

[2016-12-09 20:33] ranterle commented on #192
Hi @awhlee, this was the intended behavior before.
With version 4.1.2 of the SDK, you can take advantage of the following API `FeedbackManagerListener.shouldCreateNewFeedbackThread()`: https://www.hockeyapp.net/help/sdk/android/4.1.2/net/hockeyapp/android/FeedbackManagerListener.html#shouldCreateNewFeedbackThread--

Introduced by #189

[2016-12-09 21:11] awhlee commented on #192
Cool thanks.  I should have caught this. The docs do indicate that the user will be able to see their previously submitted feedback too.  Its unclear how to enable this.  Is there a way?

"When the user taps on the feedback button it will launch the HockeySDK's feedback interface, where the user can create a new feedback discussion, add screenshots or other files for reference, and act on their pr

[2016-12-09 21:12] awhlee commented on #192
Sorry, I wasn't entirely clear.  Once a user submits multiple feedbacks...is there a way to show all of them in a list within FeedbackActivity?

[2016-12-10 16:15] ranterle commented on #192
Unfortunately not - currently, the `shouldCreateNewFeedbackThread()` API only supports creating a new feedback thread, we don't keep track of past threads in the SDK, so there's no way of showing the past threads.

[2016-12-12 18:10] lipeltnf-tr opened #193 "File calls on Main Thread"
We are getting several strict mode failures from HockeyApp that are all related to File calls on the UI thread.  Below are the stack traces for the 3 occurrences:

StrictMode policy violation; ~duration=64 ms: android.os.StrictMode$StrictModeDiskReadViolation: policy=65567 violation=2
at android.os.StrictMode$AndroidBlockGuardPolicy.onReadFromDisk(StrictMode.java:1263)
at libcore.io.BlockGuardOs.a

[2016-12-14 21:47] amccorma opened #194 "not logging overflow errors"
not be logging stack overflow errors.

int foo()
{
    foo();
}

[2016-12-15 16:21] UlfHesselbarth opened #195 "No Update-Check on Android 7.0"
The HockeyApp-SDK (4.1.2) UpdateManager does not start an update task on my Nexus 9 even though it should.
While debugging the problem I found this particular piece of code in `UpdateManager::installedFromMarket`:

` if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.N && TextUtils.equals(installer, INSTALLER_PACKAGE_INSTALLER_NOUGAT)) {
                        result = false;
                    }`

[2016-12-15 19:28] ranterle commented on #195
Hi @UlfHesselbarth thanks for reporting this - I'll be working to verify this on a device and will add a fix for that.

[2016-12-19 11:32] StanKocken opened #196 "Crash with Metrics"
The biggest crash I have with my app is coming from… my crash reporter.

	java.lang.RuntimeException: An error occured while executing doInBackground()
		at android.os.AsyncTask$3.done(AsyncTask.java:300)
		at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
		at java.util.concurrent.FutureTask.setException(FutureTask.java:222)
		at java.util.concurrent.FutureTask.run(FutureTa

[2016-12-19 14:41] ranterle commented on #196
Hi @StanKocken, that of course would terrible if the crash reporter would be causing crashes itself.
Unfortunately, like you, we are not able to reproduce this scenario, is it possibly linked to a specific device manufacturer, model, or OS version, that you can see from the analysis?

Finally: If your app were not to have the `INTERNET` permission, how would the crash reports reach you/the crash r

[2016-12-19 14:46] StanKocken commented on #196
It seems not to be device specific:
<img width="1117" alt="screen shot 2016-12-19 at 15 42 36" src="https://cloud.githubusercontent.com/assets/2204411/21316614/cdfb7f20-c601-11e6-9cb9-7a0509d68163.png">

70% on Samsung (which is normal because Samsung got a big part of the market), 9% on LG, 6% on Sony…
65% on Android 4.x and 35% on Android 5.x (including 5.1.1). It is NOT present on 6+.
On the la

[2016-12-19 15:49] ranterle commented on #195
That's odd, I checked on both a Nexus 9 hardware device with Android 7.0 and an emulator with 7.0 installed and both reported the package installer as `com.google.android.packageinstaller` just what our previous tests returned.

[2016-12-19 15:56] UlfHesselbarth commented on #195
Interesting. Not sure what's so different about our device. Let me know if there's something we can do to help figure this out.

[2016-12-19 16:14] ranterle commented on #195
What's the process you used to extract the installer name?
I uploaded the APK to HockeyApp and installed it from there. Then hooked up the debugger to the running app and extracted the value of https://github.com/bitstadium/HockeySDK-Android/blob/f26511ac2f27379ddaf9db92affb79079ded6315/hockeysdk/src/main/java/net/hockeyapp/android/UpdateManager.java#L221

[2016-12-19 16:16] UlfHesselbarth commented on #195
That is exactly what I did the first time :)

[2016-12-23 08:12] HEBOS opened #198 "HockeyApp is crashing the app"
I'm having troubles with current HockeyApp SDK 4.1.0
It was really hard to track down who is responsible for application crash, because application crashed in different parts of the code.
It seams that http client conflicts somewhere with HockeyApp crash manager.

My code is:

// Get HockeyApp ID
            var hockeyAppId = Resources.GetString(Resource.String.HockeyAppId);

            // Regist

[2016-12-28 08:03] virat-shukla commented on #195
Actually i tried with Android api 23, its not checking for update.

[2017-01-06 19:20] fivemicro opened #200 "CrashDetails.writeCrashReport() throws Exception for uninitialized fields"
I have implemented my own `NativeCrashManager` and I make use of the `CrashDetails` class to write a crash report log.  However, I noticed that I had to set a few member variables that I didn't particularly care about in order to avoid an exception.

Code to reproduce:
[code]

Expected Results:
No Exception

Actual Results:
Exception because `appStartDate`, `appCrashDate`, `isXamarinException` or

[2017-01-06 19:59] fivemicro opened #202 "Feature Request : CrashDetails.writeCrashReport takes a path as an argument"
In my own implementation of a `NativeCrashManager` class, I use `CrashDetails.writeCrashReport` to produce a crash report file.  Unfortunately, I then need to move the produced file to a different location for my app.  An easier solution for me would be to have an additional signature for `writeCrashReport` like `public void writeCrashReport(final String path)`.

[2017-01-13 20:45] #202 closed

[2017-01-17 02:23] #200 closed

[2017-01-17 02:27] ranterle commented on #198
Hi @HEBOS, is the crash because of StrictMode (which shouldn't be run in production mode, or at least not configured to kill the application then) or did you only find it through StrictMode?

[2017-01-17 02:31] ranterle commented on #196
After revisiting this, I still can't make sense of it - is your code running in a separate process somehow, maybe through a service?
Can you provide an isolated code sample? If that's not possible, can you share your problem with code in our [support forum](https://support.hockeyapp.net)?

[2017-01-17 10:04] StanKocken commented on #196
FYI, I removed any calls to Metrics to avoid this crash. So I'm not using this service anymore.
I was never able to reproduce it locally, only on some production users (and not all of them like 0.5%, but still my bigger crash)

[2017-01-17 16:23] ranterle commented on #196
That's very unfortunate - I'm afraid we can't reproduce the issue right now.

[2017-01-17 16:28] ranterle commented on #195
Looks like we need more information to possibly reproduce this.
For @UlfHesselbarth the installer package name is `com.android.packageinstaller` - @virat-shukla can you confirm this is the package name in your case as well?

We haven't seen this name before, I'd feel ok about adding this check if there were multiple confirmed cases of this particular one.

[2017-01-17 16:30] ranterle commented on #194
Can you please go into any more detail on the error?

[2017-01-17 16:31] ranterle commented on #193
Currently there is no way for the `CrashManager`to not do it's IO on the main thread. We're keeping the overhead as low as possible, though.

[2017-01-17 16:31] #193 closed

[2017-01-17 16:32] #192 closed

[2017-01-17 16:33] ranterle commented on #164
I've added this to our internal backlog. Since there's no easy fix we can't promise an ETA.

[2017-01-17 16:33] #164 closed

[2017-01-23 14:59] martinbonnin opened #204 "Authentication can be bypassed by putting the app in the background"
Is it just me or is it possible to just put the app in the background to make the login dialog disappear ??

[2017-01-23 15:31] martinbonnin commented on #204
This is due to the FLAG_ACTIVITY_NO_HISTORY flag on the LoginActivity. Any idea the rationale behind that ?

[2017-01-23 18:40] TroubleMakerBen commented on #194
@amccorma Any chance you could elaborate more?

[2017-01-23 19:36] ranterle commented on #204
@martinbonnin Looking for the rationale behind the `FLAG_ACTIVITY_NO_HISTORY` argument - however, I can not reproduce the issue you are facing. The login activity disappears on reactivation, however, I don't get directed to the protected activity but stay at the root.
Can you share more details like OS version, device type, screenshots, integration code, or ideally, a whole sample project?
If you

[2017-01-23 21:33] martinbonnin commented on #204
What do you mean by root ? My app has only one single-top activity so when the login activity disappears, it becomes visible. Would the root be my main activity in that case ? I'm using a Pixel phone with Nougat. Right now, I'm using a workaround by listening to the [ActivityLifecycleCallbacks](https://developer.android.com/reference/android/app/Application.html#registerActivityLifecycleCallbacks%

[2017-01-24 04:51] aromanovsky opened #205 "Update installation crashes since Android 7.0"
According to the following trace,

`android.os.FileUriExposedException: file:///storage/emulated/0/Download/91878aa3-ba9e-4179-81aa-fa14830f2637.apk exposed beyond app through Intent.getData()
	at android.os.StrictMode.onFileUriExposed(StrictMode.java:1799)
	at android.net.Uri.checkFileUriExposed(Uri.java:2349)
	at android.content.Intent.prepareToLeaveProcess(Intent.java:8943)
	at android.content.

[2017-01-24 06:28] ranterle commented on #205
Hi @aromanovsky, we have looked into this, see #167 for reference.
The issue has been worked around in versions 4.0.3 and up of the SDK, please use the latest version of the SDK to get around this.

[2017-01-24 07:34] aromanovsky commented on #205
Thank you! Will test 4.0.3 and reopen this issue if 4.0.3 does not resolve it.

[2017-01-24 07:34] #205 closed

[2017-01-25 05:03] virat-shukla commented on #195
@ranterle Actually it got fixed, there was a check in my application lifecycle so that it would only check it once. Somebody messed it up. Now its fixed. Its working fine on both Android 7.0 and 7.1.1. Sorry for misunderstanding.

[2017-01-25 09:56] ranterle commented on #195
@virat-shukla Good to know, no worries 👍

[2017-02-06 08:47] martinbonnin opened #206 "Crash when using in-app auto-update"
I get the exception below when using the "auto-update" feature :-(. I can go to the download page, download the apk but it crashes just after that.

    android.os.FileUriExposedException: file:///storage/emulated/0/Download/5380e383-5e71-4215-aa37-7f749bbfb965.apk exposed beyond app through Intent.getData()

[2017-02-06 08:49] ranterle commented on #206
Hi @martinbonnin this issue was introduced in Android 7.0 - it should be fixed in the latest version of HockeySDK: 4.1.2 - are you running this?

[2017-02-06 08:54] martinbonnin commented on #206
@ranterle works fine, thanks, closing this issue

[2017-02-06 08:54] #206 closed

[2017-02-09 18:51] TroubleMakerBen commented on #198
Hi @HEBOS,

any news on this. If we don't hear back, I will close this issue.

Best,
Benjamin

[2017-02-09 18:51] #194 closed

[2017-02-09 18:52] TroubleMakerBen commented on #194
Closing this as we haven't heard back.

[2017-02-09 18:56] TroubleMakerBen commented on #195
Closing this as the issue is resolved. =)

[2017-02-09 18:56] #195 closed

[2017-02-09 21:01] HEBOS commented on #198
I almost abandoned HockeyApp and moved to Firebase, but because of your comment, I gave one more try and voila, it is working now.
I don't know what you guys have done, but it is working.

[2017-02-10 18:20] TroubleMakerBen commented on #198
Hey @HEBOS ,

Thank you for giving HockeyApp a chance =)
Apologies for the initial delay on our response, we usually respond within 24hrs.

Best,
Benjamin

[2017-02-10 18:20] #198 closed

[2017-02-13 08:35] erychagov commented on #204
Hi, @martinbonnin

Could you provide your case for us?
Do you want to protect your application using sdk login page?

Hi, @ranterle

I think that flag FLAG_ACTIVITY_NO_HISTORY has been added so sdk not break usual application navigation stack. Am I right?

[2017-02-13 08:44] martinbonnin commented on #204
@erychagov Yes, I'm trying to protect my app with the login page. My app is single-activity. When put in the background from the login page, the login activity is destroyed and the app becomes accessible.

[2017-03-08 23:23] TroubleMakerBen commented on #204
This was fixed in 4.1.3 that we released just now. Thx guys!

[2017-03-08 23:23] #204 closed

[2017-03-15 03:36] lowfiend opened #213 "Error:(2, 0) Plugin with id 'com.novoda.bintray-release' not found"
I want to use sdk as project library.
But it has error.

Error:(2, 0) Plugin with id 'com.novoda.bintray-release' not found

How can I fix this error?

[2017-03-15 03:57] #213 closed

[2017-03-23 23:21] jaredsburrows opened #214 "java.lang.RuntimeException: Unable to create application <>: java.lang.RuntimeException: Package manager has died"
## Hockey app:

4.1.2
## Android:

6.0.1
## Manufacturer:

samsung
## Model:

SM-G935F
## Exception:

[code]

[2017-03-23 23:23] jaredsburrows commented on #214
My suggestion is to go ahead and catch with `Exception` instead of `PackageManager.NameNotFoundException`, here: https://github.com/bitstadium/HockeySDK-Android/blob/ce656a828dc562dcf7db2dfd6de9032e1cef06e9/hockeysdk/src/main/java/net/hockeyapp/android/metrics/TelemetryContext.java.

This way, the `java.lang.RuntimeException: Package manager has died` should be handled gracefully instead of a cras

[2017-03-24 20:55] TroubleMakerBen commented on #214
Hey @jaredsburrows
Apologies for issues this causes and thanks for the suggestions. They make a lot of sense to me. We're looking for a fix soon, but I can't give you an ETA for an SDK update.

Best,
Benjamin

[2017-03-24 21:58] jaredsburrows commented on #214
@TroubleMakerBen For this, I can submit a quick PR to use `Exception` instead of `PackageManager.NameNotFoundException`.

[2017-03-28 17:33] TroubleMakerBen commented on #214
The fix will be part of 4.1.4, but I can't give you an ETA. I'll keep this issue open until the fix has been released.

[2017-03-29 03:30] jaredsburrows commented on #214
@TroubleMakerBen Thanks so much! Closing this issue now.

[2017-03-29 03:30] #214 closed

[2017-03-29 20:58] pablichjenkov opened #216 "MetricsManager not present in code"
Hi guys documentation establishes that this class MetricsManager would take care of doing user metrics. However, I don't see it anywhere in code on develop branch. is it in a different branch?

[2017-03-30 06:48] ranterle commented on #216
Hi @pablichjenkov you can find the MetricsManager class in its own package `metrics`, see here: https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/java/net/hockeyapp/android/metrics/MetricsManager.java

[2017-03-30 06:48] #216 closed

[2017-03-31 16:38] TroubleMakerBen commented on #196
I wonder if `Caused by: java.lang.SecurityException: Permission denied (missing INTERNET permission?)` indicates that a user removed the internet permission for the app? 🤔

[2017-04-13 20:20] caltseng opened #218 "isConnectedToNetwork NRE"
We've gotten a report for a crash in the SDK.

Reason: java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference
File: Util.java
Class: net.hockeyapp.android.utils.Util
Method: isConnectedToNetwork
Number of crashes: 1

[code]

[2017-04-18 11:42] Luomu opened #219 "Session tracking always uses version code"
It seems the session tracking in user metrics always collects the sessions based on version code.

Normally we can define buildNumber in AndroidManifest (in our case, svn revision) which is used to group crash reports. If no buildNumber is available, versionCode is used. This value is saved in Constants.APP_VERSION (In Constants.java, loadPackageData).

We noticed that our session data never goes

[2017-04-18 20:51] maxTanquerel opened #220 "OnCrashesNotSent never called"
Hi guys,

Is it normal, that onCrashesNotSent is never called when I try to send report on airplane mode ?

Can someone help me on that ?

[2017-04-18 20:56] TroubleMakerBen commented on #219
Hey @Luomu,

thanks for getting in touch.
While you are right about the code sample above, if you set the loglevel to `Lob.Verbose`, you will see that we're actually sending session info with `"ai.application.ver":"1.0.0 (1)"` so we are sending both infos.
That said, we're investigating the issue.
I'll let you know as soon as we found out something.

[2017-04-20 20:17] #220 closed

[2017-04-24 14:41] shortstuffsushi opened #225 "Make CrashManagerListener an Interface"
Sorry if this was discussed elsewhere, a brief glance through the issues didn't make it appear to be the case.

`CrashManagerListener` is passed as a third parameter callback param in the initialize function. In some cases where I want to implement that sort of item, I'll use the current `this` context to do so. However, because I'm in an Activity, and the `CrashManagerListener` is *not* an interf

[2017-04-24 15:40] shortstuffsushi opened #226 "Allow Register in Crash/UpdateManager with Listener, without AppId"
Currently both `CrashManager` and `UpdateManager` have multiple `register` methods, both of which have a three parameters option allowing me to provide a "listener" type class. However, in order to use that, I have to provide my App_Id, unlike the default `context` method which pulls it from the manifest. In the case that I want to use a listener, I would prefer to not have to have to provide the

[2017-04-24 15:44] ranterle commented on #225
The main idea was to support quicker in-line overrides since all methods are optional to override.
What we could do is have an interface for `CrashManagerListener` and then have an abstract `AbstractCrashManagerListener` which implements this for the optional override.
However, this will be a breaking change, not to be implemented before the next major version.
@elektrojunge thoughts?

[2017-04-24 15:50] ranterle commented on #226
It is possible - we have not heard high demand for it. If you want, you can file a PR for it - or I can do it later.
In the meantime, and until we ship a new release, you can use the `Util.getAppIdentifier(Context)` method to get the app identifier the same way the SDK does, e.g.:

[code]

[2017-04-24 15:53] TroubleMakerBen commented on #225
This is a very good idea.
We're going to release 4.1.4 later this month and haven't talked about 5.0.0, let's start talking about it, soon. :)

[2017-04-24 17:04] shortstuffsushi commented on #226
Thanks for the quick turnaround on that. I did end up using the Util method suggested, so I'm good for now. Looking forward to not using your internals though ;)

[2017-04-24 17:06] shortstuffsushi commented on #225
I like both of these comments. I agree it would be a breaking change, and would therefore need to wait til the next major revision, but I think it could be a good change.

One side note -- you mention having 4.1.4 (or perhaps 4.1.3) out, but currently Android Studio isn't picking up a new version as available. Have you updated your listings on Maven / JCenter?

[2017-04-24 17:11] shortstuffsushi commented on #225
Hmm, never mind. I do see it listed, it's just not being suggested by AS for some reason.

[2017-04-25 22:41] #226 closed

[2017-04-26 10:31] joseprl89 opened #228 "Metrics Manager configurable synchronize interval"
I have noticed that the current setup for the Metrics Manager uses hardcoded values for maximum batch count and batch interval between batch synchronizations:

[code]

Having a hardcoded interval means that:

* The CPU will be woken up very regularly.
* The network will also be woken up.
* Can't reduce the interval for testing purposes.

In my opinion, the default behaviour of the SDK should be al

[2017-04-26 18:22] TroubleMakerBen commented on #228
Hey Josep,

Thanks for getting in touch, I hope it's okay if we use just one issue instead of 3 all over the place ;)
I value your input a lot, so please, let me know your thoughts.

First, let's talk about why there is no API for it. We have been burned by exposing an API in the past with another SDK where people would set crazy values and then blame the SDK on eating up their battery and we don'

[2017-04-27 01:52] TroubleMakerBen commented on #219
4.1.4 was just released and fixes the issue. =)

[2017-04-27 01:52] #219 closed

[2017-04-27 01:53] TroubleMakerBen commented on #218
Hey!
We just released version 4.1.4 that comes with a fix for this.
Thanks for using HockeyApp and let me know in case you run into other issues, have some feedback, etc..
Take care!
Benny

[2017-04-27 01:53] #218 closed

[2017-04-27 01:54] TroubleMakerBen commented on #196
Hey Stan,
We just released version 4.1.4 that comes with a fix for this.
Thanks for using HockeyApp and let me know in case you run into other issues, have some feedback, etc..
Take care!
Benny

[2017-04-27 01:54] #196 closed

[2017-04-27 12:16] joseprl89 commented on #228
Hi Benny,

If we have a testing mode where we get the batches more frequently, I would personally not mind extend the batch interval to several minutes, since I am not fuzzed that much about liveliness of this data.

Furthermore, and based on the [Optimizing Downloads for Efficient Network Access](https://developer.android.com/training/efficient-downloads/efficient-network-access.html) docs, 15 se

[2017-04-27 12:32] sirekanyan opened #232 "Progress bar is not closed after restoring app"
1. Open FeedbackActivity
2. Fill all required fields and add an attachment
3. Click "send feedback" button
4. Hide application when progress bar appeared
5. Restore application
6. Progress bar is staying visible forever (actually feedback was successfully sent to HockeyApp)

Using net.hockeyapp.android:HockeySDK:4.1.3

![photo_2017-04-27_15-01-45](https://cloud.githubusercontent.com/assets/2663397

[2017-04-27 17:54] TroubleMakerBen commented on #232
Hey Vadik,
thanks for getting in touch and providing the steps to repro the issue.
Apologies for issues this causes you.
We are looking into this and I'll let you know.

Best,
Benny

[2017-04-28 18:34] TroubleMakerBen commented on #228
Hey Josep,

We've discussed both options in the past and I definitely see the value. We'll discuss internally next week and and I'll let you know the outcome over here.

Thanks for all the input from your side. This is very important for us. Keep it coming!

Have a great weekend!
Benny

[2017-05-01 21:02] sirekanyan opened #234 "Feedback activity doesn't use current time zone"
Please, see screenshot:
![screenshot](https://cloud.githubusercontent.com/assets/2663397/25594449/4b52f0e0-2ec9-11e7-8679-f38cd83a3fb3.png)

[2017-05-03 21:06] TroubleMakerBen commented on #234
Hey @sirekanyan,

thx for this. We're working on a fix that works across all API levels.
Thanks for the initial PR and for the suggestion about how to fix this.
We appreciate your support!

Benny

[2017-05-03 21:10] TroubleMakerBen commented on #228
Hey Josep,

I just merged a PR that adds support for "debug" intervals to `develop` and this will be part of `4.1.5`. I can't provide an ETA for you just yet.
We have added a task about the sending interval to our backlog, but I can't promise an ETA for this as we have a lot going on right now with [Mobile Center](https://www.hockeyapp.net/mobile-center/about/).

Thanks again for your input! It's

[2017-05-04 09:13] joseprl89 commented on #228
Cheers Ben!

[2017-05-08 13:52] sankartringapps opened #240 "Upload crahses only if the build is availale in hockey"
During the development, if a crash occurs hockey app sdk registers the crash in the hockey app without a build.

Can we have a method to control the crash upload only if the particular version is already uploaded to the hockey app?

[2017-05-08 21:22] TroubleMakerBen commented on #240
Hey Sankar,

Thank you for getting in touch. I'm not sure if I understand your use-case correctly.
From what I understand, you don't want any crashes that happen during development, to end up on the HockeyApp portal, is that right?
If this is the case, we recommend that you wrap the `CrashManager.register(..)`-call with an if statement that checks either for build vs. release configs, or for an at

[2017-05-09 05:26] sankartringapps commented on #240
You understand the use-case correctly. Will wrap it up with an if statement.

Thank you

[2017-05-09 16:16] TroubleMakerBen commented on #240
You are welcome any time!

Best,
Benny

[2017-05-09 16:16] #240 closed

[2017-05-26 21:14] sbolotovms opened #242 "Caused by: java.util.ConcurrentModificationException"
# HockeyApp:
4.1.2

# Android:
Various. 6.0, 7.0 etc.

# Phone
Various. Pixel, SM-G930F etc.

# Exception:
[code]

[2017-05-26 21:41] sbolotovms opened #243 "java.lang.ArrayIndexOutOfBoundsException"
# HockeyApp
4.1.2

# Android
7.0

# Phone
SM-G955W, SM-G930T

# Exception
java.lang.ArrayIndexOutOfBoundsException: length=6; index=6
	at java.util.LinkedList.toArray(LinkedList.java:1104)
	at net.hockeyapp.android.metrics.Channel.synchronize(Channel.java:108)
	at net.hockeyapp.android.metrics.Channel$SynchronizeChannelTask.run(Channel.java:205)
	at java.util.TimerThread.mainLoop(Timer.java:555)

[2017-05-27 14:31] TroubleMakerBen commented on #243
Hey @sbolotovms =)
Thx for reporting this.

Can you provide any info on how to repro this?

Best,
Benjamin

[2017-05-27 14:32] TroubleMakerBen commented on #242
Hey Sergej,

Thanks for reporting this here, too =)
I have the same question as for the other issue you reported ;)

Thx and take care!
Benny

[2017-05-29 10:56] galvanu opened #245 "Device OS stays empty when sending events"
Hi, I'm using the SDK for metrics in Android widget.
I see that for some reason when I send events the device os property is empty.

I'm using the SDK in the following way:

MetricsManager.register(MyApp.getApplication(), "MY_APP_KEY");
MetricsManager.trackEvent("EventName", event);

Do I need to initialize anything else before sending events?
I do see that you have Device.java class under models

[2017-05-29 19:14] sbolotovms commented on #242
Hi Benjamin,

This doesn't seem like recurring issue, those are logs we're seeing happening in some of our HockeyApp reports. So unfortunately I can't provide you with repro steps.
Same for other issue.

[2017-05-30 13:27] makingthematrix opened #246 "java.net.UnknownHostException: Unable to resolve host "sdk.hockeyapp.net": No address associated with hostname"
Similar to #174

HockeySDK 3.7.2
Samsung G900F
Android 6.0.1
 
The client experienced an internet connection failure. As far as I understand, it tried to report the error to HockeyApp, but HockeyApp crashed and that in turn caused Wire to crash. Might be difficult to reproduce.
#
[Wire_HockeyApp_UnknownHostException.log.zip](https://github.com/bitstadium/HockeySDK-Android/files/1038451/Wire_Hockey

[2017-06-09 18:04] TroubleMakerBen commented on #246
Hey @makingthematrix,

thx for getting in touch. It looks like you are using a pretty old version of the SDK. We have improved a ton of things since then, can you upgrade HA to the latest version?
If you continue to see this error again, please get in touch.

Thx,
Benjamin

[2017-06-09 18:04] #246 closed

[2017-06-09 18:05] TroubleMakerBen commented on #242
Hi Sergei,

I see. Thanks for reporting this. We'll try to repro the issue. Keeping both open on GH.

Best,
Benjamin

[2017-06-09 18:05] TroubleMakerBen commented on #243
See #242

[2017-06-12 18:31] TroubleMakerBen commented on #245
Hi Galvanu,

Thank you for getting in touch and apologies from our side for the rather slow response time. We don't officially support Android Widgets, so I guess the reason the OS doesn't show up is related to that. That said, we're looking into this, so stay tuned.

Thanks for using HockeyApp!

[2017-06-13 13:26] MatkovIvan commented on #242
Hi @sbolotovms.

Looks like you keep using properties object after `trackEvent` call. To fix this issue on current version you should create new collection instance per `trackEvent` call. Since next version we'll making copy of this object internally.

[2017-06-13 15:06] MatkovIvan commented on #245
Hi @galvanu,

`AppWidgetProvider` is a `BroadcatReceiver`. Your process terminating between `onReceive` calls (all overridden methods from `AppWidgetProvider`). So, HockeyApp SDK cannot works correctly and as @TroubleMakerBen said, we don't support Android Widgets. Also I'm not sure that valid `Application` instance exists to pass to `MetricsManager.register`. Your `MyApp.getApplication()` is a ju

[2017-06-14 16:08] TroubleMakerBen commented on #245
Hi @galvanu,
we've looked at adding Android Widget support. We won't support it anytime soon as we're very busy working on [Mobile Center](https://www.hockeyapp.net/mobile-center/about/).
That said, we'd happily accept a PR that adds this functionality.

[2017-06-22 05:55] s70487s opened #253 "FileUriExposedException"
Android: 7.1.1
android.os.FileUriExposedException: file:///storage/emulated/0/HockeyApp/1669393482556 exposed beyond app through Intent.getData()
	at android.os.StrictMode.onFileUriExposed(StrictMode.java:1799)
	at android.net.Uri.checkFileUriExposed(Uri.java:2346)
	at android.content.Intent.prepareToLeaveProcess(Intent.java:8965)
	at android.content.Intent.prepareToLeaveProcess(Intent.java:8926)

[2017-06-23 18:33] TroubleMakerBen commented on #243
Version 4.1.6 is out and fixes this! 🎉

[2017-06-23 18:33] #243 closed

[2017-06-23 18:33] TroubleMakerBen commented on #242
Version 4.1.6 is out and fixes this! 🎉

[2017-06-23 18:33] #242 closed

[2017-06-23 18:33] TroubleMakerBen commented on #234
Version 4.1.6 is out and fixes this! 🎉

[2017-06-23 18:33] #234 closed

[2017-06-23 18:33] TroubleMakerBen commented on #232
Version 4.1.6 is out and fixes this! 🎉

[2017-06-23 18:33] #232 closed

[2017-06-23 19:25] sbolotovms commented on #243
Just to confirm - you've meant 4.1.5, right?

[2017-06-26 11:58] sirekanyan commented on #234
@TroubleMakerBen, I think you mean version 4.1.5?

[2017-06-26 16:45] TroubleMakerBen commented on #234
Dang, exactly! It's 4.1.5!
(4.1.6 is the iOS SDK release...oh all the releases! ;))

[2017-06-26 16:47] TroubleMakerBen commented on #243
Yes, it's 4.1.5. Sorry. 4.1.6 was the iOS SDK release. Dammit! ;)

Thx for letting me know!

[2017-06-27 19:31] TroubleMakerBen commented on #253
Hey @s70487s,

thank you! We're looking at improving on Android strict mode. Stay tuned!

Benny

[2017-07-04 14:14] sirekanyan opened #261 "Third attachment is not visible on feedback activity"
When 3 attachments were sent to server, third one isn't visible:

![photo_2017-07-04_17-06-26](https://user-images.githubusercontent.com/2663397/27833487-bf2c5972-60db-11e7-8a9b-dc3acac5e799.jpg)

[2017-07-04 14:23] sirekanyan opened #262 "Ability to add more than 3 attachments to feedback"
Now there is only 3 attachments allowed. What do you think about if we made this number customizable?

[2017-07-05 20:04] TroubleMakerBen commented on #262
Hey @sirekanyan,

Thank you for getting in touch. We currently don't have any plans to add the ability to customize the number of attachments per Feedback. This is more complicated than making a simple change to the SDK as it requires work on the backend and needs to be implemented on all platforms that support Feedback.
That said, we're of course fixing #261 .

Thx for reporting that!

Benny

[2017-07-05 20:05] #262 closed

[2017-07-05 20:05] TroubleMakerBen commented on #261
Thank you for reporting this! We're fixing this in the next release.

Cheers!
Benny

[2017-07-19 13:10] adamtarmstrong opened #267 "Support for 'Custom Events' in Android SDK?"
You iOS SDK GitHub ReadMe says, "You can now track Custom Events in your app, understand user actions and see the aggregates on the HockeyApp portal."

Are Custom Events also available in the Android SDK and the ReadMe has just not been updated?
Or are Custom Events not available in the Android SDK?

Thanks,
Adam.

[2017-07-19 18:39] TroubleMakerBen commented on #267
Hey Adam,

Thanks for getting in touch. Yes, the Android SDK supports this feature, too. The Readme.md references our Knowledgebase (this is where we now host all of our docs). The article in question is [this one](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#user-metrics).

Let me know if you have more questions. Thanks for using HockeyApp!
Benny

[2017-07-19 18:41] TroubleMakerBen commented on #261
This was included as a fix in the latest release. Closing this issue. =)

[2017-07-19 18:41] #261 closed

[2017-07-24 16:47] TroubleMakerBen commented on #267
Closing this issue as I answered the question. =)

[2017-07-24 16:47] #267 closed

[2017-07-25 06:32] Rolf-Smit opened #269 "Android 4.2.1 specific crash"
In our app we have a crash, that occurs within the HockeyApp SDK, ironically this crash is logged by HockeyApp so that's nice.

This crash only occurs on Android 4.2.1 devices and more specifically Samsung devices, quite some users are affected by this crash. I did some research and it seems like this crash is caused by a bug in the  http framework used by Android, but even though this is the case

[2017-07-25 21:22] TroubleMakerBen commented on #269
hey Rolf,

thanks for getting in touch and reporting this. Which version of the HockeySDK are you using?

Best,
Benny

[2017-07-27 13:46] jazzyjester opened #270 "Use of DEVICE_ID in SDK"
Hello,
As tests of ecuretheorem.com, it found that our app that use hockeyapp sdk reading the DEVICE_ID.
They Wrote :

Do you plan to switch to Advertising ID in the future ?
Thanks.

[2017-07-28 16:39] TroubleMakerBen commented on #270
Hey Ronny,

thx for getting in touch. We have an item on the backlog for this but I cannot give you an ETA for this.

Best,
Benny

[2017-08-03 00:27] TroubleMakerBen commented on #270
As of HockeySDK 5.0.0-beta.1, we're no longer using `ANDROID_ID`. The SDK is generating a GUID which is not persisted across installations.

I'm keeping this issue open until 5.0.0 is no longer beta.

[2017-08-03 00:27] TroubleMakerBen commented on #253
Fixed as of HockeySDK-5.0.0-beta.1 =)

[2017-08-03 00:27] #253 closed

[2017-08-18 15:10] yuriy-budiyev opened #280 "Can't disable autosend on 5.0.0"
Auto send is enabled by default, if context is not instance of Activity.
CrashManagerListener#shouldAutoUploadCrashes() is ignored.
But if i'll initialize CrashManager with Activity context it will not be able to save crashes when my LauncherActivity will be closed.

[2017-08-18 15:17] yuriy-budiyev commented on #280
Please add something to control auto send behavior

[2017-08-18 15:41] yuriy-budiyev commented on #280
Btw, i found the ugly solution. Initialize CrashManager with app context when processing finished. In my app, I strictly need to ask user whether send crashes or not.

[2017-08-18 16:04] MatkovIvan commented on #280
Hi, @yuriy-budiyev!
Thanks for keeping in touch!
This behavior wasn't introduced in `5.0.0`. (See [`4.0.0 sources`](https://github.com/bitstadium/HockeySDK-Android/blob/4.0.0/hockeysdk/src/main/java/net/hockeyapp/android/CrashManager.java#L173-L182) for example)
The cause that is: we able to show dialog from activity context only.

[2017-08-18 16:29] MatkovIvan commented on #280
I created PR to you can show UI for ask (in `onHandleAlertView` callback).

[2017-08-18 16:35] yuriy-budiyev commented on #280
I aleady done this in my app, overrided onHandleAlertView, and show alert from activity context. And it worked well, when I called initialize method with app context, and execute method with activity context. In 5.0.0 execute method does not have context argument.

[2017-08-18 16:39] yuriy-budiyev commented on #280
Also, it will be good to add to CrashManagerListener callback onNoCrashesFound, or something like this.

[2017-08-18 17:27] MatkovIvan commented on #280
Got it. I guess this should be reverted.

Good point. Done in the same PR.

[2017-08-20 20:50] yuriy-budiyev commented on #280
I don't think reverting is necessary, simly add ability to show overriden alert dialog from app context.

[2017-08-22 12:45] yuriy-budiyev opened #282 "Undeterminated update behavior on 5.0.0"
Can't determinate wheter update fragment shown or activity launched.
I don't think that showing fragment in current activity is a good idea.

[2017-08-22 14:06] yuriy-budiyev commented on #282
Activity doesn't start on tablet, but works fino on phone

[2017-08-22 14:15] MatkovIvan commented on #282
Yes, this is what I told you about.
Dialog fragment was used on tablets instead of activity in previous versions as well.

[2017-08-22 14:52] yuriy-budiyev commented on #282
Can I just start new activity always?

[2017-08-22 14:53] yuriy-budiyev opened #283 "Crash on 5.0.0"
java.lang.RuntimeException: Unable to destroy activity XXX}: java.lang.IllegalArgumentException: App ID must not be null.
	at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:4634)
	at android.app.ActivityThread.handleDestroyActivity(ActivityThread.java:4661)
	at android.app.ActivityThread.-wrap7(ActivityThread.java)
	at android.app.ActivityThread$H.handleMessage(ActivityThrea

[2017-08-22 15:02] MatkovIvan commented on #283
You passing `null` to `appIdentifier` parameter when call `CrashManager.initialize`.
You should pass your app id.

[2017-08-22 15:05] MatkovIvan commented on #282
Currently not.

[2017-08-22 15:06] yuriy-budiyev commented on #282
Please add that ability

[2017-08-22 15:07] yuriy-budiyev commented on #283
I'm not passing null, this crach happens on UpdateManaget#unregister() method

[2017-08-22 15:09] yuriy-budiyev commented on #283
That means that Util#getAppIdentifier(context) returns null

[2017-08-22 15:13] MatkovIvan commented on #283
Since you call it from `onDestroy` callback, try to pass another context (that still alive at the moment).

[2017-08-24 14:27] yuriy-budiyev commented on #283
I called this with an app context

[2017-08-24 14:43] MatkovIvan commented on #283
`Util.getAppIdentifier` retrieves the HockeyApp app identifier from the manifest. Do you set `net.hockeyapp.android.appIdentifier`?

[2017-08-24 14:46] yuriy-budiyev commented on #283
Yes, I specified it in my build.gradle file

[2017-08-24 14:53] yuriy-budiyev commented on #282
Thank you, on older versions I forced activity by returning null from UpdateManagerListener#getUpdateFragmentClass()

[2017-08-24 14:57] MatkovIvan commented on #283
You should add a `meta-data`-tag to your `AndroidManifest.xml` file.
See doc: https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#2-3-integrate-hockeysdk

[2017-08-24 15:00] yuriy-budiyev commented on #283
I can see this in merged manifest. This is not 100% craches. That was one time. But in will be very bad if something like this will happen in production.

[2017-08-24 15:03] MatkovIvan commented on #283
Could you please specify repro steps or small repro sample?

[2017-08-24 17:25] yuriy-budiyev commented on #283
I don' remember. But i can tell that I firstly initialaize and execute it onCleate on may launcher activity with this activity as context, then initialize it on destroy with app context. As I descibed here: https://github.com/bitstadium/HockeySDK-Android/issues/280

[2017-08-25 07:44] Rolf-Smit commented on #269
Sorry for the late response, I did not get a notification in my mail box.

`net.hockeyapp.android:HockeySDK:4.1.4`

[2017-09-01 06:28] TroubleMakerBen commented on #282
We just released HockeySDK 5.0.0, so I'm closing this.

[2017-09-01 06:28] #282 closed

[2017-09-01 06:28] TroubleMakerBen commented on #270
We just released HockeySDK 5.0.0, so I'm closing this.

[2017-09-01 06:28] #270 closed

[2017-09-01 06:29] TroubleMakerBen commented on #269
We just released HockeySDK 5.0.0 which fixes the issue, so I'm closing this.

[2017-09-01 06:29] #269 closed

[2017-09-01 06:29] TroubleMakerBen commented on #283
We just released HockeySDK-Android 5.0.0. Can you check if this happens with this new release?

[2017-09-01 06:30] TroubleMakerBen commented on #280
We just released HockeySDK 5.0.0, so I'm closing this.

[2017-09-01 06:30] #280 closed

[2017-09-01 06:55] yuriy-budiyev commented on #283
This crash happened only one time, and then I reverted version to 4.1.5. I will write here if something like this will happen on 5.0.0.

[2017-09-01 16:17] TroubleMakerBen commented on #283
Okay.

I'm closing this issue, but will definitely open it again, in case it happens again.

Take care!

Benny

[2017-09-01 16:17] #283 closed

[2017-09-06 17:49] TroubleMakerBen commented on #228
I'm closing this as we've added the debug intervals.

That said, the API to customize the sending interval is still on our backlog.

[2017-09-06 17:49] #228 closed

[2017-09-11 12:47] FaridBeiranvand opened #298 "ProGuard Error on Version 5.0.0"
Hi i Used Version 5.0.0:
`compile 'net.hockeyapp.android:HockeySDK:5.0.0'`
but When i want to use proGuard , it runs into this error:
`Warning:net.hockeyapp.android.utils.PermissionsUtil: can't find referenced method 'boolean canRequestPackageInstalls()' in library class android.content.pm.PackageManager
Warning:net.hockeyapp.android.utils.Util: can't find referenced method 'Notification$Builder(a

[2017-09-11 13:13] MatkovIvan commented on #298
Hi @FaridBeiranvand

These methods from the recent Android library. You need to update Android SDK or add ignore flag to ProGuard.

From [ProGuard manual](https://www.guardsquare.com/en/proguard/manual/troubleshooting#unresolvedlibraryclassmember):

Alternatively, you may get away with ignoring the inconsistency with the options -ignorewarnings or even -dontwarn.

[2017-09-15 12:35] hardekool opened #301 "Unable to grant permission for versions 5.0.0 or 5.0.1"
### Background:
The application has a dependency on ```net.hockeyapp.android:HockeySDK:5.0.1```.
The application requests permission to use ```Manifest.permission.WRITE_EXTERNAL_STORAGE```.

### Expected behaviour:
When permission is denied, dialogue is displayed prompting user to enable permission. The user must be able to grant permission, either through permission dialogue or manually through t

[2017-09-15 14:55] MatkovIvan commented on #301
Hi @hardekool
From release notes:

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Do you try this?

[2017-09-15 15:24] hardekool commented on #301
@MatkovIvan , thank you for your quick response. This solved my problem. Classic RTFM issue :book:

[2017-09-15 15:24] #301 closed

[2017-09-20 17:48] TroubleMakerBen commented on #298
Hey @FaridBeiranvand,

How are things? Were you able to resolve the issue?

I'd like to close the issue here if you have resolved it.

Cheers!

Benny

[2017-09-21 00:32] jaredsburrows commented on #225
@shortstuffsushi Should we close this? or will you accept a PR @TroubleMakerBen?

[2017-09-21 02:01] shortstuffsushi commented on #225
I'm not using this currently, so it's unlikely that I'll do the work for it, but it still seems that it could be valuable to others. Up to you guys. I see "wontfix" was already added, so closing seems appropriate since the intention is to not do this.

[2017-09-21 04:24] TroubleMakerBen commented on #225
Hey folks,

I added the "wontfix" tag for us as we won't provide a PR for this ourselves. That said, we're happily accepting PRs. =)

[2017-09-21 10:34] FaridBeiranvand commented on #298
Hi.thanks a lot for your Complete solution.with using -dontwarn flag issue resovled.

[2017-09-21 16:46] jaredsburrows commented on #225
@TroubleMakerBen I feel like we should be consistent. If want to change a single listener from `abstract class` to `interface`, we can should make them all `interface`s. What do you think?

[2017-09-21 18:43] #298 closed

[2017-09-21 18:46] TroubleMakerBen commented on #225
@jaredsburrows I agree. If we gonna make this change, we need to make the listeners `interface`. We need to make sure that we are not introducing a breaking change, but a) have interfaces b) have implementations of them and also make sure we deprecate before removing/refactoring.

[2017-09-22 16:14] jaredsburrows commented on #225
@TroubleMakerBen  After reviewing this, I would vote for **not** making this change for the following reason:
 - I believe that the current architecture with `abstract` classes is better because we do not need users to implement all methods, especially if they are not being used.
 - Also it would introduce breaking changes like you said, because it would force users to go back and implement the re

[2017-09-22 16:28] TroubleMakerBen commented on #225
@jaredsburrows I completely agree with you – which is why we didn't make the change in the past. And as a user, it'd be somewhat irritating to have an `interface` for Crashes, and none for the other functionality. What do you think?

[2017-09-22 16:30] jaredsburrows commented on #225
I completely agree. Maybe it safe to close this now?

[2017-09-22 16:37] TroubleMakerBen commented on #225
Yeah. Thx for the discussion!
Have a great weekend!

[2017-09-22 16:37] #225 closed

[2017-09-24 04:26] Khang-NT opened #307 "NPE in FeadbackActivity v5.0.1"
[code]

[2017-09-24 04:43] Khang-NT commented on #307
I saw that bug already fixed on commit https://github.com/bitstadium/HockeySDK-Android/commit/6589c87e8549b392422522762c7eba7c76c8a152
Can you guys publish new version include that change?

[2017-09-26 02:26] TroubleMakerBen commented on #307
Hey @Khang-NT,

we just released 5.0.2 of the SDK to fix this bug.

Thanks for letting us know and for using HockeyApp!
Cheers!
Benny

[2017-09-26 02:26] #307 closed

[2017-10-16 07:28] piyurabadiya opened #319 "storage permission"
Hello All

After update version to 5.0.2
we have get new issue from your library
here is issue ( Storage permission if already granted)
if remove your library my issues is resolved.

[2017-10-16 07:56] MatkovIvan commented on #319
Hey @piyurabadiya
Thanks for getting touch!

Could you please clarify what happened? The current description isn't enough to understand this.
What exactly issue do you have with the permission?

[2017-10-16 08:53] piyurabadiya commented on #319
see below gif
Its perfect working in 4.0.2 and not work in 5.0.2

![20171016_141624](https://user-images.githubusercontent.com/5976724/31603303-573cb822-b27d-11e7-9572-c7bc558fc76e.gif)

[2017-10-16 09:06] MatkovIvan commented on #319
Please note that `5.0.0` has changes related to that permission.

From [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

[2017-10-17 05:03] piyurabadiya commented on #319
I am using below version in my project and I apply change according to your reply but still its not working properly .

compileSdkVersion 26
buildToolsVersion '26.0.2'

minSdkVersion 16
targetSdkVersion 26

[2017-10-17 08:33] MatkovIvan commented on #319
Sorry to say, but I still don't have clear understanding your problem.
Could you please describe this in more detail?
-What exactly going wrong for comparing with expected behavior?
-How are you using HockeyApp SDK to do that feature? This match to latest documentation?
-Is there any useful information in the device logs?
-Is it reproduced on sample application or only on your main one?

[2017-10-20 10:19] alexarraiza opened #320 "Error: style attribute '@android:attr/windowEnterAnimation' not found"
Hi everyone

I get these errors when using HockeyApp 5.0.3 and gradle 3.0.0-rc2:

Error:(101, 5) error: style attribute '@android:attr/windowEnterAnimation' not found.
Error:(101, 5) error: style attribute '@android:attr/windowExitAnimation' not found.

on here:

$USER_FOLDER$/.gradle/caches/transforms-1/files-1.1/HockeySDK-5.0.3.aar/23150723a5962e9818263301f5e14033/res/values/values.xml

I'm also

[2017-10-20 18:42] TroubleMakerBen commented on #320
Hey Alex,

Thx for letting us know. We're working on this and will let you know as soon as it's fixed.

[2017-10-22 12:01] bmourat commented on #320
Hi @alexarraiza

I wasn't able to reproduce this issue with AS 3.0 rc2 and android Gradle plugin 3.0.0-rc2.
I was wondering if this issue happens with new projects also? And also did you tried removing "@" sign when using those attributes, like this 'android:attr/windowEnterAnimation'?

Best,
Murat

[2017-10-23 13:49] TroubleMakerBen commented on #319
Hey @piyurabadiya,
we'd love to help, can you please explain in more detail what issue you are running into?

Best,
Benjamin

[2017-10-24 14:22] TFR258 opened #322 "ANR when calling ExceptionHandler#saveException with HockeyApp SDK v5.0.3"
Hi everyone,

We have seen a couple of instances of ANRs with the following thread trace.

[code]

It seems like calls to `Constants.getDeviceIdentifier().get()` get blocked for more than 5 seconds.
Can you help us understand why this is happening?

Thank you.

[2017-10-24 14:41] MatkovIvan commented on #322
Hi @TFR258

Thanks for getting in touch.
It looks like you didn't initialize any manager from SDK.
If you don't want to do it for some reason you can also initialize `Constants` directly via `Constants.loadFromContext` call. But I highly recommend initializing SDK in the documented way.

Thanks,
Ivan

[2017-10-24 15:00] TFR258 commented on #322
Hi @MatkovIvan,

Thank you for the fast response

I have just doubled checked our source. We are initialising the Hockey App SDK as soon as possible using `CrashManager.register()`.
Can this issue only occur if the HockeyApp SDK hasn't been initialised?

[2017-10-24 15:51] MatkovIvan commented on #322
Yes, [getDeviceIdentifier()](https://github.com/bitstadium/HockeySDK-Android/blob/5.0.3/hockeysdk/src/main/java/net/hockeyapp/android/Constants.java#L94-L106) just wait for initialization. Maybe you have errors during initialization? Is there any other useful information in the logs (Use `HockeyLog.setLogLevel(Log.VERBOSE);` to get more details)?

[2017-10-25 13:16] TFR258 commented on #322
Hi @MatkovIvan,

We haven't seen anything suspicious in the logs. I'll run a couple of monkeys with the provided HockeyApp log level to see if anything emerges.

We suspect this might be due to a race condition.
 Is there a way of checking whether the SDK is initialised?

[2017-10-25 13:46] MatkovIvan commented on #322
I've realized the root cause. It will be fixed in next release.
Thanks for reporting!

[2017-10-25 14:02] TFR258 commented on #322
Hi @MatkovIvan,

Thank you for the good news.
Do you know when the next version of HockeyApp will be released?

[2017-10-25 16:07] TroubleMakerBen commented on #322
Hey @TFR258
We're currently targeting 2nd half of November.

Best,
Benjamin

[2017-10-25 16:08] #322 closed

[2017-10-26 17:05] #319 closed

[2017-10-28 14:23] wlky opened #327 "maxSdkVersion of WRITE_EXTERNAL_STORAGE permission gets overwritten"
Hockeyapp sdk 5 sets maxSdkVersion of WRITE_EXTERNAL_STORAGE permission for the Project.

I just updated an app to Android 8 an in that process updated the hockeyapp sdk. This lead to a hell of a bug chase because suddenly part of the app, requiring a storage write permission, didn't work anymore.
Well hours later I now know it was not the android update but changes to the hockeyapp sdk, specifica

[2017-10-28 21:13] TroubleMakerBen commented on #327
Hey @wlky,
I‘m sorry you ran into issues when you updated the HockeySDK.

We have documented the required change about the permissions [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0).
Have you missed the part there?
Or would you expect this to be documented elsewhere?
I‘d love to improve our documentation but am not sure where else to mention the change than in

[2017-10-29 10:42] wlky commented on #327
Hi @TroubleMakerBen
yeah sorry, I missed that..
Me personally I would have expected such an information in the Readme - together with the gradle compile line and the proguard information (if necessary). Just the basic stuff you need to add the library to a project.

[2017-10-30 08:13] desteve commented on #320
Any advances or work around on this? I get the same error with AS 3.0 stable version and HockeyApp SDK 5.0.3. It's quite annoying because I can't build my project.

[2017-10-30 10:01] bmourat commented on #320
Hi @desteve!

Please remove "@" signs from your style declarations like described here: https://stackoverflow.com/questions/45952607/error-style-attribute-androidattr-windowexitanimation-not-found
If that doesn't help, could you please provide a sample project to reproduce this issue?

Best,
Murat

[2017-10-30 10:04] desteve commented on #320
Yes thanks. I was about to write that I've managed to solve the issue looking for these '@' signs and removing them. By the way, I found that the problem wasn't on the HockeyApp SDK but on an older library being included in my project, so I apologize for my complain.

Thanks again.

[2017-10-30 15:40] TroubleMakerBen commented on #320
@desteve I'm glad that you were able to resolve the issue. Thx for using HockeyApp, you're awesome! Have a great week!

[2017-10-30 15:40] #320 closed

[2017-10-30 15:55] TroubleMakerBen commented on #327
Hi Yannik,

I'm glad you resolve the issue. Just as an FYI, [our knowledgebase](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk) contains all the information to integrate the SDK and mentions the permission in the "setup" step. Do you think this is visible enough?
I'm wondering if I can improve this and would welcome your input.

And thx a lot for using Hockey

[2017-10-30 15:55] #327 closed

[2017-11-01 13:31] Purup opened #328 "5.0.2 and 5.0.3 blocking write permissions?"
Hey.

Been working on an app which needs to use the camera to take a picture and save it to a file. Have had problems with it denying me write permissions even though the user is prompted to allow them.

After many hours i found out that the only factor that had changed was upgrading to HockeyApp version 5.0.2 (Also tested with 5.0.3). I previously ran the much older 4.1.5, and when im using that

[2017-11-01 13:40] MatkovIvan commented on #328
Hi @Purup,
Thanks for getting in touch!

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Best,
Ivan

[2017-11-01 13:58] Purup commented on #328
I guess i just need to read documentation better!

Thanks for the answer.

[2017-11-01 13:58] #328 closed

[2017-11-07 14:36] vurf opened #329 "Buttons are not fully displayed"
Normal displayed
![uii9yg7o7y8](https://user-images.githubusercontent.com/10620593/32498750-8f8b2fae-c3e1-11e7-8255-a6e170127848.jpg)

Not normal. I'm override title first button that title was shortly, but third button is displayed
![_uchppszsiw](https://user-images.githubusercontent.com/10620593/32498770-a0e629c0-c3e1-11e7-83c9-2ec9d945f033.jpg)

[2017-11-07 14:40] vurf commented on #329
As you see on first image - android 4.4.2, on second image - android 5.1. Maybe defect in android builder fragment. :(

[2017-11-08 19:02] MatkovIvan commented on #329
Hi @vurf,

Unfortunately, this is a standard behavior of `android.app.AlertDialog` and marked as `Won't Fix` on [google issue tracker](https://issuetracker.google.com/issues/37008457).

You may override show dialog behavior using [`CrashManagerListener.onHandleAlertView`](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/java/net/hockeyapp/android/CrashManagerListener

[2017-11-08 19:02] MatkovIvan commented on #329
Hi @vurf,

Unfortunately, this is a standard behavior of `android.app.AlertDialog` and marked as `Won't Fix` on [google issue tracker](https://issuetracker.google.com/issues/37008457).

You may override show dialog behavior using [`CrashManagerListener.onHandleAlertView`](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/java/net/hockeyapp/android/CrashManagerListener

[2017-11-08 19:37] TroubleMakerBen commented on #329
Hey @vurf

I just marked this issue as #wontfix and wanted to let you know why. The only reliable way to fix is º as @MatkovIvan explained – to introduce a dependency to the Android Support Library.
This would be a) a breaking change and b) violates one of our core rules for the HockeySDK – which is to not have any or as little outside dependency.

I hope you understand and can override the dialog

[2017-11-09 08:39] vurf commented on #329
@TroubleMakerBen ok, thanks :)

[2017-11-09 08:39] #329 closed

[2017-11-13 11:30] geeky-do opened #330 "Bug with launching camera/gallery"
Hi,

I just noticed an issue that was introduced to our application with the update from SDK 4.1.5 to version 5.0.2. I can confirm this bug was introduced with version 5. The issue seems to be that permission granting process was somehow altered in version 5 (I did some digging and I suspect this commit might be the trigger https://github.com/bitstadium/HockeySDK-Android/pull/292/commits/cd16f158d

[2017-11-13 15:50] TroubleMakerBen commented on #330
Hey Dina,

Thanks for getting in touch.
I just saw your message here.
Apologies for the issue you're seeing.

HA 5.0.0 has a breaking change related to permissions which could cause the issue that you are seeing.
Can you add `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`to your manifest file as mentioned in the [release notes](https://github.com/

[2017-11-13 17:40] M-Khay commented on #330
Yes This fix solves the problem, I had a similar issue and was resolved by this solution. Although, I see the issue being persisted in 5.0.3 as well. Can you provided any details as to why ?

[2017-11-14 08:30] geeky-do commented on #330
Yes this works for us. Thanks for the help!

[2017-11-14 10:32] MatkovIvan commented on #330
Hi @M-Khay,

We have an explanation in the [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Let me know if you need more details about something specific, I'll happy to help!

BTW since this is not the first question about it, I wonder where you first look at the

[2017-11-15 14:28] TFR258 opened #331 "NPE in CrashManager.searchForStackTraces()"
Hello HockeyApp team,

We are seeing the following crash occurring when our application is getting shutdown.
can you help understand why this is happening?

We are using HockeyApp SDK v5.0.3. This occurred 5 times on Huawei Mate 10 devices running Android O.

[code]

[2017-11-16 08:52] TFR258 commented on #331
Hi Ben,

Thank you for the help on this.
Let me know if you need any further information

Thanks,
Tom

[2017-11-16 18:17] TroubleMakerBen commented on #331
@TFR258 we have a PR for this and it will be in 5.0.4 – the release for this is scheduled end of this month/beginning of december. Stay tuned and thanks a ton for reporting this!

Benjamin

[2017-11-17 12:30] TFR258 commented on #331
Hi @TroubleMakerBen,

That's great news.
Thank you for the help and the fast turn-around.

Tom

[2017-11-21 05:58] TroubleMakerBen commented on #331
5.0.4 of the SDK is out and includes the fix for this. =)

Thx for reporting this!!! =)

[2017-11-21 05:58] #331 closed

[2017-11-21 13:57] TFR258 commented on #331
Hi @TroubleMakerBen,

Thank you for the update!

[2017-11-22 10:00] smuldr opened #334 "Unexpected `supportsRtl` attribute in AndroidManifest"
After updating to 5.0.4, our build failed with the following error:

[code]

Applying the `tools:replace` attribute fixes the issue, but I don't think a third party library should be making decisions about wheter or not our app supports RTL layouts.

[2017-11-23 17:38] TroubleMakerBen commented on #334
Hey!

Thx for filling this and for also making a PR for this!
We'll run a few tests on the PR and will merge as soon as that's done. The next release is probably gonna be in 2018 though.

Best,
Benjamin

[2017-11-24 08:49] 858894228 opened #336 "update时只收到了邮件通知，APP上没有弹出提示框"

[2017-11-24 18:17] #336 closed

[2017-11-24 18:23] #334 closed

[2017-12-11 08:18] emmanuele-villa opened #338 "MalformedURLException: Protocol not found when sending attachments"
As per title, I have a "MalformedURLException: Protocol not found" exception when I try to send a
feedback with the feedback activity. Originally I found this error with the Xamarin SDK but then I tried with this native one and I have the same error:
[code]

[2017-12-11 08:44] #338 closed

[2017-12-11 14:31] uc3po opened #342 "Android Multidex Configuration, Create file problem (Permission denied)"
Hi,
I have an Android application with Multidex configuration.
The hockey app is added to the gradle file.
I have read and write permissions on my Android Manifest file.
When I try to create a file I get the error "Caused by: android.system.ErrnoException: open failed: EACCES (Permission denied)".
If I delete the Hockey App in the Gradle settings, I can create a file.

My grade configuration file:

[2017-12-11 14:38] MatkovIvan commented on #342
Hi @uc3po

I guess this is related to manifest merging.
This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Let me know

[2017-12-11 14:50] uc3po commented on #342
It works. Thanks.

[2017-12-11 14:50] #342 closed

[2017-12-11 14:50] MatkovIvan commented on #342
This issue is a duplicate of #301

[2017-12-11 14:50] MatkovIvan commented on #328
This issue is a duplicate of #301

[2017-12-11 14:50] MatkovIvan commented on #327
This issue is a duplicate of #301

[2017-12-21 10:35] jojonarte opened #343 "Weird error log on logcat relating to updates in hockey sdk"
[code]

[2017-12-21 10:41] MatkovIvan commented on #343
Hi @jojonarte

Thanks for getting in touch.
It looks like just network timeout. Maybe do you have some other details (steps to repro, SDK version etc.)?

Best,
Ivan

[2017-12-21 12:42] jojonarte commented on #343
Hi @MatkovIvan
Here are a few more details:
[code]
To reproduce:
The log just appears everytime I launch the app.

[2017-12-26 13:08] bmourat commented on #343
Hi @jojonarte!

How often does this happen and what are doing when this error appears?

Best,
Murat

[2017-12-26 13:21] bmourat commented on #343
Hi @jojonarte

Is this issue still happening everytime you launch your app? If so, could you check if this address
https://sdk.hockeyapp.net/api/2/apps/
is reachable on your device?
Also, could you please provide following info:
1. How are you registering UpdateManager?
2. When in the app lifecycle UpdateManager.register is called?
3. The version of HockeySDK you are using?

Bets,
Murat

[2017-12-27 02:00] jojonarte commented on #343
UpdateManager.register is called when the activity gets created or resumed, and unregistered on stop and onDestroy.

[2017-12-30 18:39] kmspop opened #344 "5.0.4 affects the app's WRITE_EXTERNAL_STORAGE permission"
Hi.

I have noticed, with the latest 5.0.4, our app's WRITE_EXTERNAL_STORAGE gets FUBARed.
Writing a file to the external storage stopped working after upgrading to SDK 5.0.4.
File::mkdirs() and File::exists() both were returning false. No specific exceptions were thrown but seemed like a permission issue.
Went to the settings, opened the application manager, and saw the app's permission list.
Und

[2017-12-30 23:25] MatkovIvan commented on #344
Duplicate of #301

[2017-12-30 23:27] MatkovIvan commented on #344
Hi @kmspop,

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Let me know if it doesn't help you.

Best,
Ivan

[2018-01-01 01:09] kmspop commented on #344
Thank you for a quick reply.
It all makes sense.

[2018-01-01 01:09] #344 closed

[2018-01-02 17:37] TroubleMakerBen commented on #343
Hey @jojonarte,

I'm trying to repro this issue. Which HockeySDK version are you using?
In addition, can you provide more info on when exactly you are calling `register()` etc?

You can reach the team via email (appcentersdk@microsoft.com) or through [support](https://support.hockeyapp.net) and share the info there in a confidential way.

Best,
Benjamin

[2018-01-03 08:55] 3mph4515 commented on #342
Knowing how short is a list of people who read the changelog, this decision to set maxSdkVersion look a little bit risky.

[2018-01-03 16:40] TroubleMakerBen commented on #342
@3mph4515 We've debated this quite a bit and you are absolutely right that only few people read changelogs. That said, it's the solution that we chose to use and we need to stick with it for the time being.

[2018-01-10 01:10] TroubleMakerBen commented on #343
Hey @jojonarte,

is this still an issue for you?

Best,
Benjamin

[2018-01-10 16:56] ReneFerrari opened #345 "UpdateManager breaks on Android O"
I have implemented the update mechanism in my App and it works perfectly fine.
Today I tried it on a Nexus 6P with Android 8.1.1. The way I did it was that I downloaded an earlier version of the App, with the hope that upon App start I get prompted to update it (Note I have tried this on Android L, Android M, Android N before), which fortunately I was. I clicked on update, the download started fin

[2018-01-10 20:24] TroubleMakerBen commented on #345
Hi Rene,

which version of the HockeySDK are you using. Assuming you are using HockeySDK 5, that there's an important change related to Updates and the permission to write to external storage?
To quote our release notes:

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](This is describe

[2018-01-10 23:57] TroubleMakerBen commented on #343
Closing this as we haven't heard back. Feel free to reopen if necessary.

[2018-01-11 09:12] ReneFerrari commented on #345
Hi Ben!

I use the latest build. Fortunately your solution (adding `tools:node="replace"`) as described in the links you shared me solved my issue.

I am sorry that I hadn't checked out the changelog / hadn't read the whole documentation which I will always do in the future if I encounter any problem.

Anyway thanks for your fast reply!
(issue can be closed)

Have a nice day,
Rene

[2018-01-11 09:12] #345 closed

[2018-01-11 18:10] TroubleMakerBen commented on #345
Rene,

no worries. This comes up at least once a month but I haven't found a better way how to point this out. If you have a suggestion, please let me know ;)

Cheers!
Benjamin

[2018-01-15 11:29] XabierGoros opened #350 "UDID mismatch between UpdateManager and the server causes the dialog not to prompt"
We're facing some issues to get to work the new version update check, and taking a look to the network requests the device does, it seems there's a udid mismatch betweeen what the SDK sends and what I have registered as a device in my account.

### My Account (registered devices)

``Android | 94641131b5YYYYYY |  SAMSUNG SM-G900V | 6.0.1 | Yes``

### SDK request at startup
https://sdk.hockeyapp.net

[2018-01-15 13:55] soulaimenk opened #351 "Why you are using (android:maxSdkVersion="18") for WRITE_EXTERNAL_STORAGE"
I think you should remove the maxSdkVersion from (HockeyApp:Manifest). It'll affect the whole project Manifest:
[code]

[2018-01-15 14:05] MatkovIvan commented on #351
Hey @soulaimenk

Thanks for getting in touch!

Example from [android docs](https://developer.android.com/guide/topics/manifest/uses-permission-element.html) is exactly our case:

You can just declare the `tools:node="replace"` manifest merging strategy later in the dependency tree:
 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`. This is describe

[2018-01-15 14:16] #351 closed

[2018-01-16 08:02] ReneFerrari commented on #345
Hi Benjamin!

Maybe writing about it in the readme file would help. After: "You can even force the installation of certain updates." I would just append: "**To support Android O devices please our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0

[2018-01-16 17:42] TroubleMakerBen commented on #345
@ReneFerrari I see. We'll talk about it. We definitely need more visibility for it. Thx for the input! =)

[2018-01-16 19:18] TroubleMakerBen commented on #350
Hey @XabierGoros,

What way of authentication are you using?
I'm not sure if this is related, but please note that from HockeySDK 5.0 and up, we don't support authentication by UDID anymore as ANDROID_ID (which was used before) can now change it's value (https://android-developers.googleblog.com/2017/04/changes-to-device-identifiers-in.html).

That said, would you please share your setup code with

[2018-01-17 09:42] jongarate commented on #350
Hi @TroubleMakerBen,

As a colleague of @XabierGoros I find myself in the necessity of stepping in. Having taken a look at the `HockeySDK-Android` source code and docs, I think we now have a more clear view of what's going on here.

We are currently not using any explicit authentication within the app, which I understand falls within the definiton of [Anonymous Authentication](https://support.hock

[2018-01-17 18:55] TroubleMakerBen commented on #350
Hey @jongarate,

You've summed up the whole issue really well and yes, right now, there is no way other than asking people for at least their email address of the HockeyApp account to get authentication working.

I'm creating an item on our backlog and forward your feature request to my PM. While we haven't heard any request for this last year, you're the second person this month asking for this.

[2018-01-18 13:36] mengdd opened #352 "Hockey app can not upload apk"
Hi, team, I found my project suddenly cannot upload apk by fastlane... came our app not found error
then I use curl to have a try

so I use curl to have a try

[code]

it came out the same error { app:{not found}}

Do someone know the reason?

[2018-01-19 11:04] XabierGoros opened #354 "Email authentication issue or misunderstanding"
I'm a little bit confused of how the `LoginManager.LOGIN_MODE_EMAIL_ONLY` authentication mode works. If I set the `LoginManager.LOGIN_MODE_EMAIL_PASSWORD` option and I enter my HockeyApp email and password the request is performed and further calls to check updates works as expected. However, if I use the email only I always get:

[code]

So, what do I do wrong or what I misunderstanding from your

[2018-01-19 11:15] bmourat commented on #354
Hey @XabierGoros

What register method of LoginManager you are using? Could you provide code snippet?

[2018-01-19 11:16] XabierGoros commented on #354
Sure

[code]

[2018-01-19 11:18] bmourat commented on #354
When using LOGIN_MODE_EMAIL_ONLY you should use your appSecret, not your appIdentifier.

[2018-01-19 11:34] XabierGoros commented on #354
Oh thanks, I got confused by the overloaded parameter, and also because with email/pass works with the `appIdentifier`.

How sensitive is the `appSecret`? Is it alright if it's hard-coded in the app like the `appIdentifier`?

[2018-01-19 18:43] TroubleMakerBen commented on #352
Hey @mengdd,

can you get in touch via [Support](https://support.hockeyapp.net)? We might need your app id for that and you probably don't want to share this here.

I'll close this issue here.

Best,
Benjamin

[2018-01-19 18:43] #352 closed

[2018-01-19 18:46] TroubleMakerBen commented on #354
Hey @XabierGoros,

You probably don't want to put this in your repo/hard-code as it can is used to restrict usage of your app, but some people still do it.

Best,
Benjamin

[2018-01-19 18:46] #354 closed

[2018-01-26 16:43] smuldr opened #356 "WRITE_EXTERNAL_STORAGE permission is removed by HockeyApp"
The HockeyApp SDK sets an `android:maxSdkVersion="18"` attribute on the WRITE_EXTERNAL_STORAGE permission in its AndroidManifest, which removes the permission on higher API levels. I don't know why this attribute is there, but it is causing problems in our app.

Example: Our app uses LeakCanary and Spoon, both of which require this permission to work correctly. Even though we put the `<uses-permis

[2018-01-26 16:44] smuldr commented on #356
For anyone having the same issue, you can remove the `android:MaxSdkVersion` attribute from the merged manifest as follows.
[code]

[2018-01-26 16:46] MatkovIvan commented on #356
Duplicate of #301

[2018-01-26 16:48] MatkovIvan commented on #356
Hi @smuldr,

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Best,
Ivan

[2018-01-30 15:43] AyoPrez opened #357 "Problem with WRITE_EXTERNAL_STORAGE permission"
In a Nexus 5 with Android M:

The WRITE_EXTERNAL_STORAGE permission is always denied, even if it's granted in the settings. This doesn't happen in the 4.1.5, but start to happen in the 5.0.0 version

[2018-01-30 15:46] MatkovIvan commented on #357
Duplicate of #301

[2018-01-30 15:46] MatkovIvan commented on #357
Hi @AyoPrez,

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Best,
Ivan

[2018-01-30 16:03] #357 closed

[2018-02-04 15:38] ZeAleks commented on #343
Hello,

I do have the same error.
I didn't work on my app for a long time ago. Everything was working but now I have this very message.
I tried the url above and it seems to work on my device. I get a json message "no api taken".

The CrashManager.Register is called in the OnCreate override of my main (first) Activity.

I'm now using Visual Studio 2017 and I have the last hockeySdk.xamarin install

[2018-02-05 09:20] bmourat commented on #343
Hi @ZeAleks

Could you provide info on how are you registering your UpdateManager, since the original error concerns updates functionality and stacktrace of your error?

[2018-02-05 17:36] TroubleMakerBen commented on #343
@ZeAleks @bmourat Please continue this discussion in the Xamarin repo as this seems to be a Xamarin issue -> [#116](https://github.com/bitstadium/HockeySDK-Xamarin/issues/116)

[2018-02-06 03:51] ZeAleks commented on #343
@TroubleMakerBen , I don't think it is a Xamarin issue.

Here is the stacktrace :
`02-04 11:31:04.204 E/HockeyUpdate(14335): Could not fetch updates although connected to internet
02-04 11:31:04.204 E/HockeyUpdate(14335): java.io.InterruptedIOException: thread interrupted
02-04 11:31:04.204 E/HockeyUpdate(14335): 	at com.android.okhttp.okio.Timeout.throwIfReached(Timeout.java:145)
02-04 11:31:04.2

[2018-02-07 13:27] MatkovIvan commented on #343
Hi @ZeAleks and @jojonarte

This error means that background task with network request for checking updates was interrupted. After a closer look I saw two possible ways how this can happen:
1. Timeout. It's 30 sec for default android background tasks;
2. Force cancel task by call `UpdateManager.unregister()` API;

So, could you please recheck when you call `unregister` function? If you call it on

[2018-02-08 12:52] LittleHuba opened #358 "DownloadFileTask using unsecure HttpUrlConnection"
APK files are downloaded from a provided url with 6 redirects wherever they are going to. No checks if the file is even the proper APK nor if it has been tampered with. This is such a huge security issue, it compromises the whole system!

You should fix this ASAP!!!

[2018-02-08 12:57] LittleHuba commented on #358
Metrics are also being sent over unencrypted connections, essentially giving user information to the www for free. Feedback is also sent unecrypted via http... AttachmentDownloader does the same.

Currently this SDK is one big security-breach!!!

[2018-02-08 13:18] MatkovIvan commented on #358
Hi @LittleHuba

We use `https` for **all** requests. If you read [﻿Security with HTTPS and SSL](https://developer.android.com/training/articles/security-ssl.html) and [HttpURLConnection](https://developer.android.com/reference/java/net/HttpURLConnection.html) android documents, you can find that:

In the same docs you can find that `javax.net.ssl.HttpsURLConnection` class extends `java.net.HttpURL

[2018-02-08 13:58] LittleHuba commented on #358
Hi Ivan,
sorry that is my bad then. I got about 10 red flags in various security checks, since you are not enforcing HTTPS by using HttpsURLConnection.

Still the problem with referring stands and additionally there is no check if the downloaded APK is the one wanted. You could for example check the signature or at least the package name. The dialogs Android provides at installation only verify th

[2018-02-08 18:12] TroubleMakerBen commented on #358
Hey @LittleHuba,

thx for getting in touch. We're talking about this issue over her.
I'd like to know more about your use-case as you are the first person in 7 years of HockeyApp to bring up this concern. Feel free to shoot me an email to bereimol @ myemployer . com

Best,
Benjamin

[2018-02-08 22:48] ZeAleks commented on #343
OK Matkovlan,

So I'm calling the unregister function in OnPause and OnDestroy.

But everything was working before I migrated to a new version of hockeySDK (and Visual Studio 2017).

[2018-02-09 13:19] LittleHuba commented on #358
Hi @TroubleMakerBen,
I'm unable to write you a mail. My mailserver respons with "Connection timed out". But as there is no sensitive information in the mail anyway, I'll just post it here:

Firstly I do not really understand why there is a need for a specific use case to require a soundproof distribution system. As far as I know there are many cases of security breaches by taking over the updating

[2018-02-09 17:57] TroubleMakerBen commented on #358
Hi @LittleHuba,

I understand the scenario you are describing. I was more thinking along the lines of "@LittleHuba has customer requirements that call out this as a issue".

Thx for sharing. I will raise this topic with our PMs.

Best,
Benjamin

[2018-02-13 13:30] Ufkoku opened #359 "Impossible to request WRITE_EXTERNAL_STORAGE permission"
After including `implementation 'net.hockeyapp.android:HockeySDK:5.1.0'` dependency to android project it is impossible to request WRITE_EXTERNAL_STORAGE permission - the result is always false.
It happens after manifest merging, because of line 8 in [AndroidManifext.xml](https://github.com/bitstadium/HockeySDK-Android/blob/develop/hockeysdk/src/main/AndroidManifest.xml):
`<uses-permission android

[2018-02-13 13:32] MatkovIvan commented on #359
Hi,

This is described in our [documentation](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#integrate-sdk) and [release notes](https://github.com/bitstadium/HockeySDK-Android/releases/tag/5.0.0):

 `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>`

Best,
Ivan

[2018-02-13 13:33] MatkovIvan commented on #359
Another duplicate of #301

[2018-02-19 17:54] #359 closed

[2018-02-21 17:32] MatkovIvan commented on #343
Hi @ZeAleks

Is this still issue for you? Let me know if you need help with that.
Please note that you don't need to call `unregister()` in on pause event if you already have that on destroy.
Also,

You can check details and example in our [doc](https://support.hockeyapp.net/kb/client-integration-android/hockeyapp-for-android-sdk#2-6-add-update-distribution):

Some summary regarding this error:
`u

[2018-02-22 00:43] ZeAleks commented on #343
Hi Ivan,

Yes I have this issue still now.
The error appear before any call to unregister and after the call to register.

[2018-02-22 02:13] jamesdixon commented on #327
FWIW, this caused me TWO FULL DAYS of debugging. Holy hell. Please, please, please make this even more apparent. Yes, it's in the setup, but it's not something that jumps out at you.

In my case, my app was crashing every time a photo attempted to save on Android 6.

Again, please make this more apparent.

[2018-02-22 02:16] jamesdixon commented on #327
@TroubleMakerBen actually, is there really a need to limit that permission in the first place? Given that you're giving people instructions on how to remove the limitation, I feel like it may be better left out rather than potentially cause major problems for people.

Speaking of problems, this was causing issues on Android 5/6, but not 7/8 and also not on every Android 5/6 phone. For those that m

[2018-02-22 04:58] TroubleMakerBen commented on #327
Hi @jamesdixon,

I am very sorry for your 2 days of debugging hell... I've just added the release notes to every release since the 5.0 release and updated our KB.

Now, talking about necessary, I hope that as soon as we bump the minSDK to 18 (which might or might not happen), I'm hoping to remove the limitation. The reason we added it is that we had quite a number of user feedback who were wonderi

[2018-02-22 05:07] jamesdixon commented on #327
Benjamin,

No worries! It happens -- I just wanted to make sure it doesn't happen to others. Appreciate you updating the notes!

Sounds good regarding the SDK.

Keep up the good work on HockeyApp!

[2018-02-22 05:16] TroubleMakerBen commented on #327
Thx for understanding. You're not the only person but it's not a very common issue (yet) – that said, the change has been out for several months now, so we'll see.

Also keep [AppCenter](https://www.hockeyapp.net/appcenter/about/) in mind for the future. Our the [App Center SDK](https://github.com/Microsoft/AppCenter-SDK-Apple) is on Github, too.

Have a nice day!

[2018-02-22 05:17] jamesdixon commented on #327
No problem. Is HockeyApp going to be sunset in favor of App Center?

[2018-02-22 09:47] MatkovIvan commented on #343
@ZeAleks Do you able to reproduce it on a blank project? Could you please share reproduction sample?
I managed to get this error only in the case where I manually broke checking updates process by `unregister()` call.

[2018-02-22 11:33] opcodewriter opened #360 "Registering CrashManager on Application OnStart"
Is registering CrashManager on Application `OnStart` a supported scenario?
I am providing my own `CrashManagerListener` where I override `shouldAutoUploadCrashes()` and return true.

The reason for this is to be able to send crash logs if app crashes on OnActivity OnStart. It's not clear to me how am I supposed to implement this scenario. So I figured I need to initialize CrashManagerListener on t

[2018-02-22 12:04] MatkovIvan commented on #360
Hi @opcodewriter,

Thanks for getting in touch.
By the names of methods, I suspect this is related to Xamarin SDK, right?

Best,
Ivan

[2018-02-22 12:29] opcodewriter commented on #360
Correct

[2018-02-22 12:36] opcodewriter commented on #360
More info:
I'm purposely crashing the app by throwing an exception at the end of Activity:OnStart. I want to handle the scenario when Activity crashes on Acvitity OnStart.

Looking at the logcat, the reason why it appears the app stays blocked on the splash screen is because the application is actually in a crash-restart loop. It's crashing and restarting indefinitely.
If I remove the call `Hockey

[2018-02-22 14:40] Iqra786 commented on #356
Hi,

I have tried all solution but no success.

[2018-02-22 18:36] TroubleMakerBen commented on #327
Hi @jamesdixon,

Yes, this will eventually happen. But don't worry, once the transition has been announced, you'll have another 12 months. Say, if we announce this in September 2018, you'll have until 2019 to make the move to App Center.

Best,
Benjamin

[2018-02-22 18:40] TroubleMakerBen commented on #356
Hi @Iqra786,

have you tried `<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>` as well as
`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"    tools:node="remove" />`?

[2018-02-23 08:31] Iqra786 commented on #356
Hi, @TroubleMakerBen

Yes, I have tried both.

[2018-02-23 18:30] TroubleMakerBen commented on #356
Is there any chance you can send us the project (or a sample that has this behavior)? We cannot repro this and I'm running out of ideas. To do that, please contact us via [Support](https://support.hockeyapp.net) and mention this conversation.

Thx a ton!

[2018-02-23 23:06] TroubleMakerBen commented on #360
Hey @opcodewriter,

Your trying to solve one of the trickiest cases in crash reporting – crashes that happen early in the app's lifecycle. Keep that in mind.

HockeyApp SDK doesn't contain any logic to restart the app on a crash. Without access to you source, I have no explanation for this behavior. I tried to repro it just for kicks and I can't repro this at all.

What makes sense is that the app

[2018-02-24 02:30] ZeAleks commented on #343
OK

Give the Week-end to find a moment to make a repro if I can.
Thanks for your help.

[2018-02-26 03:10] ZeAleks commented on #343
Hey,

I was not able to reproduce the error.
Don't know what happen. I was not working on this project and everything is ok now.

The only thing I did yesterday is upgrading VS 2017 from 15.5.6 to 15.5.7.

Thank you for your help Ivan.
I hope the error will not come back.

[2018-02-26 06:10] MatkovIvan commented on #343
@ZeAleks You are welcome.
Let us know if you face it again.

[2018-02-26 18:41] TroubleMakerBen commented on #343
I'm closing this @ZeAleks but please just reopen and get in touch over at [support](https://support.hockeyapp.net) – we're here for you.

[2018-02-26 18:41] #343 closed

[2018-02-28 07:06] alizahid opened #361 "Unable to find explicit activity class net.hockeyapp.android.UpdateActivity"
Released an app update today, and it started crashing. Was on version 5.0.2 for several months, and it all worked fine. What changed suddenly? Updating to 5.1.0 didn't fix the problem.

Below is stacktrace.

[code]

[2018-02-28 11:12] rockry opened #362 "Cannot receive any callback in UpdateManagerListener when Exception"
Sometimes I cannot receive any callback in UpdateManagerListener with same Wi-Fi connection.
After Exception, CheckUpdateTask is dead. So cannot call onPostExecute.

I cannot proceed next procedure without callback.
Because update pop-up is over-wrapped when we need to update if I proceed next procedure without callback.
Can you check this issue?

[code]

[2018-02-28 11:24] MatkovIvan commented on #362
Hi @rockry

Thanks for getting in touch.
It's probably related to https://github.com/bitstadium/HockeySDK-Android/issues/343#issuecomment-367406005

Please let me know if it isn't your case or you have reproduction steps for this issue.

Best,
Ivan

[2018-02-28 11:36] MatkovIvan commented on #361
Hi @alizahid

Thanks for getting in touch.
I couldn't reproduce it in our test application. Would be great if you have reproduction steps for this issue.
Without issue reproduction, I see two possible reasons for that:
1. ProGuard related issue. Do you use it?
2. The activity context which you pass to `UpdateManager.register` is becoming invalid somehow. Could you please check out your integration

[2018-02-28 11:53] alizahid commented on #361
Hey.

1. We don't use ProGuard
2. Possible. My integration code is below

[code]

This code hasn't changed in months. It worked until today, when it suddenly started crashing.

I haven't added any native libraries or something either. But my guess is that an update to one of the
several libraries I have in my project, or maybe React Native itself, caused this. I did notice that when the app opened

[2018-03-01 00:27] TroubleMakerBen commented on #361
Hi @alizahid,
Thx for getting in touch. We are unable to repro this issue and we don't have any changes since 5.0.2 that would explain what happens.

This sounds like you have a react-native application. We don't officially support React Native apps and our SDK is not designed for it. Are you aware that there's a wrapper specifically for RN. It's not supported by us but maybe it would help switchi

[2018-03-01 03:41] guperrot commented on #361
Can you share the `build/intermediates/manifests/full/release/AndroidManifest.xml` or `./intermediates/manifests/full/{yourBuildFlavour}/release/AndroidManifest.xml`?

Can you also share the app `build.gradle` and the source versioned `AndroidManifest.xml` as well?

Thanks in advance.

[2018-03-01 04:26] alizahid commented on #361
My `AndroidManifest.xml` had `tools:node="replace"` on the `application` node. This was the culprit. The generated manifest was missing everything, not just Hockey stuff.

Thank you for pointing me in the right direction. Sorry for the trouble!

[2018-03-01 04:26] #361 closed

[2018-03-01 16:48] TroubleMakerBen commented on #361
No worries @alizahid, I'm glad you figured things out. Thx for using HockeyApp.

[2018-03-02 03:39] rockry commented on #362
It works, Ivan.
I didn't find the issue carefully.
Thank you for your kind response.

[2018-03-02 03:39] #362 closed

[2018-03-07 21:39] finkbit opened #363 "HockeyUpdate: No Update Info available"
I have followed the SDK setup documentation for android but I cannot get UpdateManager to show a dialog when a new version of my app is available.

I have correctly incremented the version and it displays accordingly in the HockeyApp dashboard. I also ticked the "Mandatory Update" radio button on my version(s). Here are the methods I have inside my MainActivity.

onCreate
[code]

checkForUpdates
[

[2018-03-08 01:48] dhei commented on #363
Hey @finkbit,

I noticed `SplashScreen.show(this)` is called in your `onCreate()` method. If `SplashScreen.show(this)` creates a new android activity, then it might be problematic because `onDestroy()` method which unregister the update manager is going to be called upon the creation of new activity. If that is the case, `checkForUpdate()` won't work as update manager is already unregistered.

The

[2018-03-08 02:15] finkbit commented on #363
Hi @dhei thanks for the reply!

I suspected that too, so I also tried it without the `SplashScreen.show(this)` but I'm experiencing the same behavior. I also tried that workaround for WRITE_EXTERNAL_STORAGE to no avail.

I'm also using `react-native`. We have this working on iOS without issue.

Thanks,
finkbit

[2018-03-08 22:13] finkbit commented on #363
It does look like the update manager is being successfully registered because I'm seeing output from logcat. But the message is `HockeyUpdate: No Update Info available`.

I've tried all the suggestions where do I go from here? 😢

[2018-03-08 22:46] finkbit commented on #363
Okay so I'm still having an issue but I'm getting a little further. I changed my check for updates method a little bit.

[code]

**onNoUpdateAvailable()** IS getting called but **onUpdateAvailable()** is never called even though their is a new version available. What could be causing this?

[2018-03-08 23:25] finkbit commented on #363
We're just going to use the Play Store & TestFlight.

Thanks,
finkbit

[2018-03-08 23:25] #363 closed

[2018-03-09 19:09] elamalani commented on #363
@finkbit I see that you closed this issue but I wanted to mention that HockeyApp doesn't support React Native SDK. [App Center ](https://appcenter.ms) is the next generation of HockeyApp and we support React Native platform in App Center if you'd like to use that for your application.

[2018-03-12 17:10] rspopovi opened #364 "Android/Device Id Inconsistency"
The Device Id registered for downloads does not match the Device Id registered for installations:

Download:
![image](https://user-images.githubusercontent.com/30935127/37298176-02f4abfc-25f6-11e8-89c1-2abe3d64e84c.png)

Installation:
![image](https://user-images.githubusercontent.com/30935127/37298245-291397b2-25f6-11e8-8dff-64cfa1601f59.png)

These are all the same device which I have been using

[2018-03-12 22:08] jaelim-ms commented on #364
Can you explain what is your exact problem?

[2018-03-13 12:50] rspopovi commented on #364
Closing this because it is a duplicate of this issue:
https://github.com/bitstadium/HockeySDK-Android/issues/350

[2018-03-13 12:50] #364 closed

[2018-03-14 17:57] molnarr2 opened #365 "Attachment file for crash"
iOS has the ability to attach a file to the crash log whereas Android does not. I've implemented it to submit the file via the `HttpURLConnectionBuilder.writeMultipartData()` function and it will not show up within the HockeyApp crash. Verified the data was sent correct by a PHP script and also have the iOS side working. Android is using 'attachment0' as the fieldname. Does HockeyApp web site not

[2018-03-14 22:47] elamalani commented on #365
@molnarr2 HockeyApp site has an option to show attachment file for a crash report. You can click on Crashes -> Crash Group -> Crash logs, there is a "Data" section below and when you click on "Meta" tab under it, you should see the data attached.

[2018-03-21 07:48] alizahid opened #366 "Pause updates on certain screens?"
Is there any way I can pause updates on certain screens?

Here's how I'm thinking it'll go down.

- I register `UpdateManager` in `MainActivity` (or wherever)
- When the results are fetched, before showing a dialog, it checks for some boolean
- If boolean is `false`, don't show the dialog
- Once the boolean becomes `true`, trigger update again

Here's what I've tried

- Register
- When it goes to

[2018-03-21 12:55] natronite commented on #350
What's the status on this? This is driving me up a wall and I'm sure our clients don't appreciate not getting an update dialog at all.

[2018-03-21 21:56] molnarr2 commented on #365
@elamalani So I compared what iOS is doing to Android via their HTTP request yet Android will not show up the attachment file on HockeyApp site. iOS works fine with showing up the attachment file.

Here is a dump between iOS and Android of the HTTP request.

[Dump.zip](https://github.com/bitstadium/HockeySDK-Android/files/1835360/Dump.zip)

Obviously there are differences in the way iOS and Androi